<div class='row'>
    {{search-facet-worktype-button type='publication' label='Publication'
        selectedTypes=selected onClick=(action 'toggle')}}
    {{search-facet-worktype-button type='preprint' label='Preprint'
        selectedTypes=selected onClick=(action 'toggle')}}
</div>
<div class='row'>
    {{search-facet-worktype-button type='project' label='Project'
        selectedTypes=selected onClick=(action 'toggle')}}
    {{search-facet-worktype-button type='registration' label='Registration'
        selectedTypes=selected onClick=(action 'toggle')}}
    {{search-facet-worktype-button type='creative work' label='Other'
        selectedTypes=selected onClick=(action 'toggle')}}
</div>
