{{#if hasBlock}}
    {{yield}}
{{else}}
    <p>
        {{input type='file' change=(action 'uploadFile')}}
    </p>
    <p>
        You can also drag and drop a file from your computer.
    </p>
    {{#if currentUploads}}
        <ul>
            {{#each currentUploads as |upload|}}
                <li>{{upload.name}} uploading...</li>
            {{/each}}
        </ul>
    {{/if}}
    {{#if completedUploads}}
        <ul>
            {{#each completedUploads as |upload|}}
                <li>{{upload.name}} done!</li>
            {{/each}}
        </ul>
    {{/if}}
    {{#if errorMessage}}
        <div>Error: {{errorMessage}}</div>
    {{/if}}
{{/if}}
