{{#if (eq projectSelectState 'main')}}
    <div class="row">
        <div class="col-xs-6">
            <button class="btn btn-block btn-big" {{action 'changeState' 'newProject'}}>{{t "eosf.components.moveToProject.createNewProject"}}</button>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-block btn-big" {{action 'changeState' 'existingProject'}}>{{t "eosf.components.moveToProject.connectToExisting"}}</button>
        </div>
    </div>
{{/if}}
{{#if (eq projectSelectState 'newProject')}}
    <form>
        <div class="form-group">
            {{input
                type='text'
                placeholder=(t "eosf.components.moveToProject.enterProjectTitle")
                class="form-control"
                name='projectTitle'
                id='projectTitle'
                key-up='checkNodeTitleKeypress'}}
        </div>
    </form>
    {{t "eosf.components.moveToProject.newProjectMessage"}}
{{else if (eq projectSelectState 'existingProject')}}
    {{#if isLoadingProjects}}
        <div class="ball-pulse ball-dark text-center">
            <div></div>
            <div></div>
            <div></div>
        </div>
    {{else}}
        <h5>{{t "eosf.components.moveToProject.chooseProject"}}</h5>
        {{#if projectList}}
            <form>
                <div class="form-group">
                    <div class="m-t-sm">
                        {{#power-select renderInPlace=true placeholder="Click to select" options=projectList selected=selectedProject searchField="title" onchange=(action (mut selectedProject)) as |project|}}
                            {{get-ancestor-descriptor project}} <strong> {{project.title}}</strong>
                        {{/power-select}}
                    </div>
                </div>
            </form>
        {{else}}
            <p class="m-t-md text-danger">
                {{t "eosf.components.moveToProject.noProjectsExistError"}}
            </p>
        {{/if}}
        <p class="text-muted text-smaller m-t-xs">
            {{t "eosf.components.moveToProject.projectSelectMessage"}}
        </p>
    {{/if}}
    {{#if selectedProject}}
        <p class="m-t-lg">
            {{#if isChildNode}}
                {{t "eosf.components.moveToProject.convertOrCopyMessage.component"}}
            {{else}}
                {{t "eosf.components.moveToProject.convertOrCopyMessage.project"}}
            {{/if}}
        </p>
        {{#unless isProjectPublic}}
            <p class="text-danger m-t-sm">
                {{#if isChildNode}}
                    {{t "eosf.components.moveToProject.noLongerPublicWarning.component"}}
                {{else}}
                    {{t "eosf.components.moveToProject.noLongerPublicWarning.project"}}
                {{/if}}
            </p>
        {{/unless}}
    {{/if}}
{{/if}}
