<div>
    <div id="citationList" class="m-b-md">
        <div class="f-w-xl">APA</div>
        <span>{{apa}} </span>
        <div class="f-w-xl m-t-md">MLA</div>
        <span> {{mla}} </span>
        <div class="f-w-xl m-t-md">Chicago</div>
        <span> {{chicago}} </span>
    </div>
    <p><strong>Get more citations</strong></p>
    {{#power-select
        search=(perform findStyles)
        selected=selectedStyle
        loadingMessage="Searching..."
        noMatchesMessage="No matches found."
        searchMessage="Please enter a few characters"
        onchange=(action 'selectStyle')
        renderInPlace=true
        as |style|
    }}
        {{style.attributes.title}}
    {{/power-select}}
    <pre id="citationText" class="formatted-citation">{{citationText}}</pre>
</div>
