<div>
    <div id="citationList" class="m-b-md">
        {{#each provider.citationStyles as |style index|}}
            <div class="f-w-xl {{if index 'm-t-md'}}">{{style.title}}</div>
            <span> {{style.nodeCitation}} </span>
        {{else}}
            <div class="f-w-xl">{{t 'eosf.components.citationWidget.apa'}}</div>
            <span> {{apa}} </span>
            <div class="f-w-xl m-t-md">{{t 'eosf.components.citationWidget.mla'}}</div>
            <span> {{mla}} </span>
            <div class="f-w-xl m-t-md">{{t 'eosf.components.citationWidget.chicago'}}</div>
            <span> {{chicago}} </span>
        {{/each}}
    </div>
    <p><strong>{{t 'eosf.components.citationWidget.getMoreCitations'}}</strong></p>
    {{#power-select
        search=(perform findStyles)
        selected=selectedStyle
        loadingMessage=loadingMessage
        noMatchesMessage=noMatchesMessage
        searchMessage=searchMessage
        onchange=(action 'selectStyle')
        renderInPlace=true
        placeholder=placeholderMessage
        as |style|
    }}
        {{style.attributes.title}}
    {{/power-select}}
    {{#if (not-eq citationText '')}}
        <pre id="citationText" class="formatted-citation m-t-md">{{citationText}}</pre>
    {{/if}}
</div>
