<h3>{{t 'eosf.components.commenting.commentPane.comments'}}</h3>
{{#each comments as |comment|}}
    {{comment-detail
    comment=comment
    editComment=attrs.editComment
    deleteComment=attrs.deleteComment
    restoreComment=attrs.restoreComment
    reportComment=attrs.reportComment}}
{{else}}
    {{t 'eosf.components.commenting.commentPane.none'}}
{{/each}}

{{comment-form addComment=attrs.addComment}}
