{{link-to 'Back to node' 'nodes.detail' model.node class="btn btn-default"}}
<div class="panel">
{{#each model as |provider|}}
  <p><label>Name: </label>{{provider.name}}</p>
  <p><label>Kind: </label>{{provider.kind}}</p>
  <p><label>Path: </label>{{provider.path}}</p>
  <p>
    Files:
    {{#each provider.files as |file|}}
        <p>{{file.name}}</p>
    {{/each}}
  </p>
{{/each}}
</div>
