{{title model.fullName}}
{{link-to 'Back to list' 'users' class="btn btn-default"}}
<div>
    <h4>{{t 'users.detail.data'}}</h4>
    <p><label>{{t 'users.detail.fullName'}}: </label> {{model.fullName}}</p>
    <p><label>{{t 'users.detail.dateRegistered'}}: </label> {{moment-format model.dateRegistered}}</p>
    <p>
        <a href="{{model.links.html}}" target="_blank" rel="noopener" class="btn btn-primary">
            {{t 'users.detail.viewOnOSF'}}
        </a>
    </p>
    <hr>
    <h4>{{t 'users.detail.nodes'}}</h4>
    <table class="table">
        <tr>
            <th>{{t 'users.detail.id'}}</th>
            <th>{{t 'users.detail.title'}}</th>
        </tr>
        {{#each model.nodes as |node|}}
            <tr>
                <td>{{node.id}}</td>
                <td>{{node.title}}</td>
            </tr>
        {{/each}}
    </table>
    <hr>
    <h4>{{t 'users.detail.registrations'}}</h4>
    <table class="table">
        <tr>
            <th>{{t 'users.detail.id'}}</th>
            <th>{{t 'users.detail.title'}}</th>
        </tr>
        {{#each model.registrations as |registration|}}
            <tr>
                <td>{{registration.id}}</td>
                <td>{{registration.title}}</td>
            </tr>
        {{/each}}
    </table>
    <hr>
    <h4>{{t 'users.detail.affiliatedInstitutions'}}</h4>
    <p>
        <table class="table">
            {{#each model.affiliatedInstitutions as |inst|}}
                <tr>
                    {{inst.name}}
                </tr>
            {{/each}}
        </table>
    </p>
</div>
