{{title "Users"}}
<h2> {{t 'users.list.users'}} </h2>

<p>
    {{pagination-control
    currentPage=page
    pageCount=totalPages
    next=(action 'next')
    previous=(action 'previous')
    goToPage=(action 'goToPage')
    }}
</p>

<hr>
{{#each model as |user|}}
    <div>
        <p><label>{{t 'users.list.fullName'}}: </label> {{user.fullName}}</p>
        <p><label>{{t 'users.list.dateRegistered'}}: </label> {{moment-format user.dateRegistered}}</p>
    </div>
    <p class="btn-group">
        <a href="{{user.links.html}}" target="_blank" rel="noopener" class="btn btn-default">
            {{t 'users.list.viewOnOSF'}}
        </a>
        {{link-to 'Detail' 'users.detail' user.id class="btn btn-primary"}}
    </p>
    <hr>
{{/each}}
