{{!-- <h2> Add contributor </h2>
<div class="form">
    <div class="form-group">
        <label> User ID </label> {{input value=newContributorId}}
    </div>
    <div class="form-group">
        <label> Permissions: </label>
        <div class="input-group">{{radio-button name="permission" value=READ checked=newContributorPermissions}} Read</div>
        <div class="input-group">{{radio-button name="permission" value=WRITE checked=newContributorPermissions}} Read + Write</div>
        <div class="input-group">{{radio-button name="permission" value=ADMIN checked=newContributorPermissions}} Administrator</div>
    </div>
    <div class="form-group">
        <label> Bibliographic: </label>
        <div class="input-group">{{radio-button name="bibliographic" value=true checked=newContributorIsBibliographic}} Bibliographic </div>
        <div class="input-group">{{radio-button name="bibliographic" value=false checked=newContributorIsBibliographic}} Non-Bibliographic </div>
    </div>
    <div class="form-group">
        <button {{action 'addContributor' newContributorId newContributorPermissions newContributorIsBibliographic}} class="btn btn-primary">Add</button>
    </div>
</div> --}}
<div class="row">
    <div class="col-xs-12 col-sm-6"> Hello </div>
    <div class="col-xs-12 col-sm-6">
        <h2> Authors </h2>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th> Name </th>
                    <th> Permissions </th>
                    <th> Bibliographic </th>
                    <th> </th>
                </tr>
                {{#each contributors as |contrib|}}
                    <tr class="contributor-row">
                        <td>
                            <span class="fa fa-bars sortable-bars"></span>
                            {{if contrib.unregisteredContributor contrib.unregisteredContributor contrib.users.fullName}}
                        </td>
                        <td>
                            <select onchange={{action (action 'permissionChange' contrib) value='target.value'}}>
                                <option value=READ selected={{eq contrib.permission 'read'}}> Read </option>
                                <option value=WRITE selected={{eq contrib.permission 'write'}}> Read + Write </option>
                                <option value=ADMIN selected={{eq contrib.permission 'admin'}}> Administrator </option>
                            </select>
                        </td>
                        <td>
                            <input onchange={{action (action 'bibliographicChange' contrib) value='target.checked'}} checked={{eq contrib.bibliographic true}} type="checkbox" name="bibliographic">
                        </td>
                        <td>
                            <button {{action 'removeContributor' contrib}} class="btn btn-danger btn-sm"> Remove </button>
                        </td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>
</div>

{{!-- <table class="table">
    <tr>
        <th>ID</th>
        <th> Name </th>
        <th> Permissions </th>
        <th> Bibliographic </th>
        <th> </th>
    </tr>
    {{#each contributors as |contrib|}}
        <tr>
            <td>
                {{contrib.id}}
            </td>
            <td>
                {{if contrib.unregisteredContributor contrib.unregisteredContributor contrib.users.fullName}}
            </td>
            <td>
                <select onchange={{action (action 'permissionChange' contrib) value='target.value'}} >
                    <option value=READ selected={{if (eq contrib.permission READ) true false}}> Read </option>
                    <option value=WRITE selected={{if (eq contrib.permission WRITE) true false}}> Read + Write </option>
                    <option value=ADMIN selected={{if (eq contrib.permission ADMIN) true false}}> Administrator </option>
                </select>
            </td>
            <td>
                <input onchange={{action (action 'bibliographicChange' contrib) value='target.checked'}} checked={{if contrib.bibliographic true false}} type="checkbox" name="bibliographic">
            </td>
            <td>
                <button {{action 'removeContributor' contrib}} class="btn btn-danger"> Remove </button>
            </td>
        </tr>
    {{/each}}
</table>
<button {{action 'updateContributors'}} class="btn btn-primary"> Save changes </button> --}}
