{{title "Institutions"}}
<h4> {{t 'institutions.index.allInstitutions'}} </h4>
{{#each model as |inst|}}
    <hr>
    <div class="panel">
        <p><label>{{t 'institutions.index.name'}}: </label>{{inst.name}}</p>
        <p><label>{{t 'institutions.index.description'}}: </label>{{inst.description}}</p>
        <p><label>{{t 'institutions.index.logoURL'}}: </label>{{inst.logoPath}}</p>
        <p><label>{{t 'institutions.index.authURL'}}: </label>{{inst.authUrl}}</p>
        <p class="btn-group">
            <a href="{{inst.links.html}}" target="_blank" rel="noopener" class="btn btn-default">
                {{t 'institutions.index.viewOnOSF'}}
            </a>
            {{link-to 'Detail' 'institutions.detail' inst.id class="btn btn-primary"}}
        </p>
    </div>
{{/each}}
