<a href={{link}} onclick={{action "click" "link" (concat "Banner - " name)}} target="_blank">
<div style={{colorStyle}}>
    <div class="container">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div class="row">
                <div class="col-sm-md-lg-12 hidden-xs">
                    <div class="banner-lg" style={{defaultStyle}} alt={{defaultAltText}}></div>
                </div>
                <div class="col-xs-12 hidden-sm hidden-md hidden-lg hidden-xl">
                    <div class="banner-sm" style={{mobileStyle}} alt={{mobileAltText}}></div>
                </div>
            </div>
        </div>
    </div>
</div>
</a>
