<div class="eosf-file-widget-box">
    <div class="row">
        {{#if (not selectedNode)}}
            <div class="col-sm-6">
                <div class="dropzone-box">
                    {{dropzone-widget preUpload=attrs.preUpload buildUrl=buildUrl listeners=dropzoneListeners options=dropzoneOptions}}
                </div>
            </div>
            <div class="col-sm-6">
                {{#if (not session.isAuthenticated)}}
                    {{#oauth-popup authUrl=authUrl loginSuccess=(action 'loginSuccess') loginFail=(action 'loginFail') as |popup|}}
                        <button class="btn btn-default login-button" onclick={{action 'login' target=popup}} >
                            {{t 'eosf.components.fileWidget.loginToOSF'}}
                        </button>
                    {{/oauth-popup}}
                {{else}}
                    <label>{{t 'eosf.components.fileWidget.chooseAnOSFProject'}}</label>
                    {{#power-select options=userNodes closeOnSelect=false searchField='title' selected=selectedNode onchange=(action (mut selectedNode)) as |node|}}
                        <img src="{{country.flagUrl}}" class="icon-flag" alt="{{node.title}} flag"> <strong>{{node.title}}</strong>
                    {{/power-select}}
                {{/if}}
            </div>
        {{else}}
            <p> {{selectedNode.title}} <button class="btn btn-default" {{action 'deselectNode'}}>{{t 'eosf.components.fileWidget.back'}}</button> </p>
            {{file-browser
                rootNode=selectedNode
                onClickFile=(action 'selectNodeFile')
            }}
        {{/if}}
    </div>
</div>
