{{!Lucene search help modal}}
<div id="ember-bootstrap-modal-container">
    {{#bs-modal open=isOpen body=false header=false footer=false}}
        {{#bs-modal-header}}
            <h3 class="modal-title">{{t 'eosf.components.searchHelpModal.searchHelp'}}</h3>
        {{/bs-modal-header}}
        {{#bs-modal-body}}
            <h4> {{t 'eosf.components.searchHelpModal.queries'}} </h4>
            <p>
                {{t 'eosf.components.searchHelpModal.searchUsesThe'}} <a href="http://extensions.xwiki.org/xwiki/bin/view/Extension/Search+Application+Query+Syntax">Lucene {{t 'eosf.components.searchHelpModal.searchSyntax'}}</a>.
                {{t 'eosf.components.searchHelpModal.helpDescription'}}
            </p>
            <ul>
                <li><a href={{concat currentPath '?q=repro*'}}>repro*</a></li>
                <li><a href={{concat currentPath '?q=brian+AND+title%3Amany'}}>brian AND title:many</a></li>
                <li><a href={{concat currentPath '?q=tags%3A%28psychology%29'}}>tags:(psychology)</a></li>
            </ul>
        {{/bs-modal-body}}
        {{#bs-modal-footer}}
            <div align="right">
                <button {{action 'close'}} class="btn btn-default"> {{t 'eosf.components.searchHelpModal.close'}} </button>
            </div>
        {{/bs-modal-footer}}
    {{/bs-modal}}
</div>