<div class="row file-row-item" style='padding-top: 0px'>
    {{#unless flash.message}}
        <div class="col-sm-{{nameColumnWidth}} file-row-col col-xs-12 file-browser-header">
            {{file-browser-icon item=item}}
            <a {{action 'open'}} role="link">{{item.itemName}}</a>
        </div>
        {{#if (if-filter 'size-column' display)}}
            <div class="col-sm-1 file-row-col hidden-xs file-browser-header">
                {{size}}
            </div>
        {{/if}}
        {{#if (if-filter 'version-column' display)}}
            <div class="col-sm-1 file-row-col hidden-xs file-browser-header">
                <a class='version-link' {{action 'openVersion'}} role="link">{{item.currentVersion}}</a>
            </div>
        {{/if}}
        {{#if (if-filter 'downloads-column' display)}}
            <div class="col-sm-1 file-row-col hidden-xs file-browser-header">
                {{item.extra.downloads}}
            </div>
        {{/if}}
        {{#if (if-filter 'modified-column' display)}}
            <div class="col-sm-2 file-row-col hidden-xs file-browser-header">
                {{date}}
            </div>
        {{/if}}
        {{#if (if-filter 'share-link-column' display)}}
            <div class="col-sm-1 file-row-col hidden-xs file-browser-header link-column">
                <div class='btn-group'>
                    <button class='btn btn-default popover-toggler' {{action 'copyLink'}}>
                        {{#bs-popover placement='left' title='Share' visible=item.visiblePopup}}
                            {{#if link}}
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        {{#copy-button success=(action 'dismissPop') class='btn btn-default copy-btn' clipboardText=link}}
                                            {{fa-icon 'files-o'}}
                                        {{/copy-button}}
                                    </span>
                                    {{! template-lint-disable }}
                                    <input readonly="true" type="text" value="{{link}}" class="form-control">
                                    {{! template-lint-enable }}
                                </div>
                            {{else}}
                                Loading...
                            {{/if}}
                        {{/bs-popover}}
                        Share
                    </button>

                </div>
            </div>
        {{/if}}
    {{else}}
        <div class='col-xs-12 flash-message-alert alert-{{flash.type}}'>
            <div class='flash-message'>{{flash.message}}</div>
        </div>
    {{/unless}}
</div>