{{! TODO: configurable columns }}

<div class="row">
    <div class="col-xs-{{nameColumnWidth}} file-browser-header">
        {{file-browser-icon item=item}}
        <a {{action 'open'}} role="link">{{item.itemName}}</a>
    </div>
    {{#if (if-filter 'share-link-column' display)}}
        <div class="col-xs-2 file-browser-header">
            <a href="{{item.path}}">Link</a>
        </div>
    {{/if}}
    {{#if (if-filter 'size-column' display)}}
        <div class="col-xs-1 file-browser-header">
            {{size}}
        </div>
    {{/if}}
    {{#if (if-filter 'version-column' display)}}
        <div class="col-xs-1 file-browser-header">
            {{#if versionId}}
                <a href='{{versionLink}}' style='color: #337ab7; font-weight: 700;'>{{versionId}}</a>
            {{else}}
                <!-- Whats the best indicator for loading here -->
                {{fa-icon "circle-o-notch" pulse=true}}
            {{/if}}
        </div>
    {{/if}}
    {{#if (if-filter 'downloads-column' display)}}
        <div class="col-xs-1 file-browser-header">
            {{item.extra.downloads}}
        </div>
    {{/if}}
    {{#if (if-filter 'modified-column' display)}}
        <div class="col-xs-2 file-browser-header">
            {{date}}
        </div>
    {{/if}}
</div>