{{! TODO: configurable columns }}

<div class="row">
        <div class="col-xs-5 file-browser-header">
            {{file-browser-icon item=item}}
            <a {{action 'open'}} role="link">{{item.itemName}}</a>
        </div>
        <div class="col-xs-2 file-browser-header">
            <a href="{{item.path}}">Link</a>
        </div>
        <div class="col-xs-1 file-browser-header">
            {{item.size}}
        </div>
        <div class="col-xs-1 file-browser-header">
            1
        </div>
        <div class="col-xs-1 file-browser-header">
            {{item.extra.downloads}}
        </div>
        <div class="col-xs-2 file-browser-header">{{item.dateModified}}
        </div>
</div>