{{! TODO: configurable columns }}

<div class="row">
    <div class="col-xs-5 file-browser-header">
        {{file-browser-icon item=item}}
        <a {{action 'open'}} role="link">{{item.itemName}}</a>
    </div>
    {{#if (if-filter 'share-link' display)}}
        <div class="col-xs-2 file-browser-header">
            <a href="{{item.path}}">Link</a>
        </div>
    {{/if}}
    {{#if (if-filter 'size' display)}}
        <div class="col-xs-1 file-browser-header">
            {{item.size}}
        </div>
    {{/if}}
    {{#if (if-filter 'version' display)}}
        <div class="col-xs-1 file-browser-header">
            TODO
        </div>
    {{/if}}
    {{#if (if-filter 'downloads' display)}}
        <div class="col-xs-1 file-browser-header">
            {{item.extra.downloads}}
        </div>
    {{/if}}
    {{#if (if-filter 'modified' display)}}
        <div class="col-xs-2 file-browser-header">
            {{item.dateModified}}
        </div>
    {{/if}}
</div>