<div class="row" style='padding-top: 0px'>
    {{#unless item.flash.message}}
        <div class="col-sm-{{nameColumnWidth}} col-xs-12 file-browser-header">
            {{file-browser-icon item=item}}
            <a {{action 'open'}} role="link">{{item.itemName}}</a>
        </div>
        {{#if (if-filter 'size-column' display)}}
            <div class="col-sm-1 hidden-xs file-browser-header">
                {{size}}
            </div>
        {{/if}}
        {{#if (if-filter 'version-column' display)}}
            <div class="col-sm-1 hidden-xs file-browser-header">
                <a class='version-link' href='{{versionLink}}'>{{item.currentVersion}}</a>
            </div>
        {{/if}}
        {{#if (if-filter 'downloads-column' display)}}
            <div class="col-sm-1 hidden-xs file-browser-header">
                {{item.extra.downloads}}
            </div>
        {{/if}}
        {{#if (if-filter 'modified-column' display)}}
            <div class="col-sm-2 hidden-xs file-browser-header">
                {{date}}
            </div>
        {{/if}}
        {{#if (if-filter 'share-link-column' display)}}
            <div class="col-sm-1 hidden-xs file-browser-header link-column">
                <div class='btn-group'>
                    <button class='btn btn-default' {{action 'copyLink'}}>
                        {{#bs-popover placement='left' title='Share' visible=item.visiblePopup}}
                            {{#if link}}
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        {{#copy-button success=(action 'dismissPop') class='btn btn-default copy-btn' clipboardText=link}}
                                            {{fa-icon 'files-o'}}
                                        {{/copy-button}}
                                    </span>
                                    <input readonly="true" type="text" value="{{link}}" class="form-control">
                                </div>
                            {{else}}
                                Loading...
                            {{/if}}
                        {{/bs-popover}}
                        Share
                    </button>

                </div>
            </div>
        {{/if}}
    {{else}}
        <div class='col-xs-12 flash-message-alert alert-{{item.flash.type}}'>
            <div class='flash-message'>{{item.flash.message}}</div>
        </div>
    {{/unless}}
</div>