{{link-to 'Back to list' 'nodes' class="btn btn-default"}}
<div class="panel">

    <h2>Data</h2>
  <p><label>Title:</label> {{model.title}}</p>
  <p><label>Description: </label> {{model.description}}</p>
  <p><label>Category:</label> {{model.category}}</p>
  <p><label>Date Created:</label> {{moment-format model.dateCreated}}</p>
  <p><label>Date Modified:</label> {{moment-format model.dateModified}}</p>
  <p>
    <a href="{{model.links.html}}" target="_blank" class="btn btn-primary">
      View on OSF
    </a>
  </p>
  <hr>

  <h2>Edit this node</h2>
  <table>
    <tr>
      <td> Title: </td>
      <td> {{input value=editedTitle}} </td>
    </tr>

    <tr>
      <td> Description: </td>
      <td> {{input value=editedDescription}} </td>
    </tr>
  </table>

  <p> Category: </p>
  <div>
    {{radio-button name="category" value="analysis" checked=editedCategory}} Analysis <br>
    {{radio-button name="category" value="communication" checked=editedCategory}} Communication <br>
    {{radio-button name="category" value="data" checked=editedCategory}} Data <br>
    {{radio-button name="category" value="hypothesis" checked=editedCategory}} Hypothesis <br>
    {{radio-button name="category" value="instrumentation" checked=editedCategory}} Instrumentation <br>
    {{radio-button name="category" value="methods and measures" checked=editedCategory}} Methods and Measures <br>
    {{radio-button name="category" value="procedure" checked=editedCategory}} Procedure <br>
    {{radio-button name="category" value="project" checked=editedCategory}} Project <br>
    {{radio-button name="category" value="software" checked=editedCategory}} Software <br>
    {{radio-button name="category" value="other" checked=editedCategory}} Other <br>
    {{radio-button name="category" value="uncategorized" checked=editedCategory}} Uncategorized <br>
    </div>
  <br>

  <button {{action "editExisting" editedTitle editedDescription editedCategory}} class="btn btn-primary">Edit node settings</button>

   <h2>Contributors</h2>

      <table class="table">
          <tr>
            <th>ID</th>
            <th>Author?</th>
          </tr>
          {{#each model.contributors as |contrib|}}
              <tr>
                <td>{{contrib.id}}</td>
                <td>{{contrib.bibliographic}}</td>
              </tr>
          {{/each}}
      </table>

  <label>Affiliated Institutions</label>
  <p>
    <table class="table">
       	{{#each model.affiliatedInstitutions as |inst|}}
       	  <tr>
       	    {{inst.name}}
       	  </tr>
       	{{/each}}
    </table>
  </p>

  <h2>Files</h2>
   {{#each model.files as |provider|}}
       {{files-tree model=provider}}
   {{/each}}
   <hr>

   {{log-detail node-logs=model.logs}}
</div>
