{{link-to 'Back to list' 'nodes' class="btn btn-default"}}
<div class="panel">

    <h2>Data</h2>
  <p><label>Title:</label> {{model.title}}</p>
  <p><label>Category:</label> {{model.category}}</p>
  <p><label>Date Created:</label> {{moment-format model.dateCreated}}</p>
  <p><label>Date Modified:</label> {{moment-format model.dateModified}}</p>
  <p>
    <a href="{{model.links.html}}" target="_blank" class="btn btn-primary">
      View on OSF
    </a>
  </p>
  <hr>

  <h2>Edit this node</h2>
  Title: {{input value=editedTitle}}
  <button {{action "editExisting" editedTitle}} class="btn btn-primary">Edit record</button>

   <h2>Contributors</h2>

      <table class="table">
          <tr>
            <th>ID</th>
            <th> Permissions </th>
            <th>Bibliographic</th>
            <th> </th>
          </tr>
          {{#each model.contributors as |contrib|}}
              <tr>
                <td>{{contrib.id}}</td>
                <td> {{contrib.permission}} </td>
                <td>{{contrib.bibliographic}}</td>
                <td> <button {{action "deleteContributor" contrib}} class="btn btn-danger"> Remove </button> </td>
              </tr>
          {{/each}}
      </table>

    <hr>

    <h2> Add contributor </h2>
    <label> User ID </label> {{input value=contributorID}}<br>

    <label> Permissions </label><br>
    {{radio-button name="permission" value="read" checked=contributorPermissions}} Read <br>
    {{radio-button name="permission" value="write" checked=contributorPermissions}} Read + Write <br>
    {{radio-button name="permission" value="admin" checked=contributorPermissions}} Administrator <br>

    <label> Bibliographic </label> <br>
    {{radio-button name="bibliographic" value=1 checked=bibliographic}} Bibliographic <br>
    {{radio-button name="bibliographic" value=0 checked=bibliographic}} Non-Bibliographic <br>

    <button {{action "addContributor" contributorID contributorPermissions bibliographic}} class="btn btn-primary">Add</button> <br>

    <hr>

  <label>Affiliated Institutions</label>
  <p>
    <table class="table">
       	{{#each model.affiliatedInstitutions as |inst|}}
       	  <tr>
       	    {{inst.name}}
       	  </tr>
       	{{/each}}
    </table>
  </p>

  <hr>

  <h2>Files</h2>
   {{#each model.files as |provider|}}
       {{files-tree model=provider}}
   {{/each}}
   <hr>

   {{log-detail node-logs=model.logs}}
</div>
