<h4> My Nodes </h4>

<br>
{{#dropzone-widget prefileCheck=(action 'prefileCheck') defineUrl=(action 'defineUrl')}}{{/dropzone-widget}}
{{#bs-modal open=openModal title="Add file to which node?"}}
    {{#bs-modal-body}}
        {{input type="text" value=nodeId placeholder="Node's guid" required=true}}
    {{/bs-modal-body}}
{{/bs-modal}}
<br>

<div>
    <label>Title:</label>
    {{input type="text" value=title placeholder="Node's title" required=true}}
    <label>Description (optional):</label>
    {{input type="text" value=description placeholder="Node's description"}}
    <p><button {{action "createNode" title description}}>Create Node</button></p>
</div>
{{#each model as |node|}}
    <hr>
    <div class="panel">
        <p><label>Title:</label> {{node.title}}</p>
        <p><label>Category:</label> {{node.category}}</p>
        <p><label>Date Created:</label> {{moment-format node.dateCreated}}</p>
        <p><label>Date Modified:</label> {{moment-format node.dateModified}}</p>
        <p class="btn-group">
            <a href="{{node.links.html}}" target="_blank" class="btn btn-default">
                View on OSF
            </a>
            {{link-to 'Detail' 'nodes.detail' node.id class="btn btn-primary"}}
        </p>
    </div>
{{/each}}

<div class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Input Node _id</h4>
        </div>
        <div class="modal-body">
            {{input type="text" value=nodeId placeholder="Node's guid" required=true}}
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
