<ol class='breadcrumb'>
    {{#each breadcrumbs as |item|}}
        <li>
            <a {{action 'navigateToItem' item}} role="link">
                {{file-browser-icon item=item}}
                {{item.itemName}}
            </a>
        </li>
    {{/each}}
</ol>

{{#if selectedItems}}
    {{! TODO: show available actions for selected files }}
{{/if}}

<div class='old-file-browser-list file-browser-list'>
    {{#if itemsLoaded}}
        {{#if items}}
            {{#ember-collection
                items=items
                cell-layout=(fixed-grid-layout itemWidth itemHeight)
                as |item|
            }}
                {{old-file-browser-item
                    item=item
                    navigateToItem=(action 'navigateToItem')
                    selectItem=(action 'selectItem')
                    openItem=(action 'openItem')
                }}
            {{/ember-collection}}
        {{else}}
            <p class='p-l-md p-t-xs text-muted'><em> No files found </em></p>
        {{/if}}
    {{else}}
        <p class='p-l-md p-t-xs'> {{fa-icon 'spinner' size=3 pulse=true}} </p>
    {{/if}}
</div>
