<ol class='breadcrumb'>
    {{#each breadcrumbs as |item|}}
        <li>
            <a {{action 'navigateToItem' item}}>
                {{file-browser-icon item=item}}
                {{item.itemName}}
            </a>
        </li>
    {{/each}}
</ol>

{{#if selectedItems}}
    {{! TODO: show available actions for selected files }}
{{/if}}

<div class='file-browser-list'>
    {{#ember-collection items=items
        cell-layout=(fixed-grid-layout itemWidth itemHeight)
        as |item index|}}
        {{file-browser-item item=item
        navigateToItem=(action 'navigateToItem')
        selectItem=(action 'selectItem')
        openItem=(action 'openItem')
        }}
    {{/ember-collection}}
    {{#unless itemsLoaded}}
        {{fa-icon 'spinner' size=3 pulse=true}}
    {{/unless}}
</div>
