<!-- <ol class='breadcrumb'>
    {{#each breadcrumbs as |item|}}
        <li>
            <a {{action 'navigateToItem' item}} role="link">
                {{file-browser-icon item=item}}
                {{item.itemName}}
            </a>
        </li>
    {{/each}}
</ol> -->

<div class="other-heading row" style="margin-bottom:10px">
<div class= 'pull-right'>
    {{#if selectedItems}}
        {{! TODO: show available actions for selected files }}
        {{#if (eq selectedItems.length 1)}}
            <div class='btn text-success'>{{fa-icon "download"}} Download</div>
            <div class='btn text-success'>{{fa-icon "file-o"}} View</div>
            <div class='btn text-danger'>{{fa-icon "trash"}} Delete</div>
        {{else}}
            <div class='btn text-danger'>{{fa-icon "trash"}} Delete multiple</div>
        {{/if}}
    {{else}}
        <div class='btn text-success'>{{fa-icon "upload"}} Upload</div>
        <div class='btn text-success'>{{fa-icon "download"}} Download as zip</div>
    {{/if}}
    <div class='btn text-primary'>{{fa-icon "search"}} Filter</div>
    <div class='btn text-primary'>{{fa-icon "info"}}</div>
</div>
</div>

    <div class="row heading">
        <div class="col-xs-5 file-browser-header header">
            Name
        </div>
        <div class="col-xs-2 file-browser-header header">
            Share Link
        </div>
        <div class="col-xs-1 file-browser-header header">
            Size
        </div>
        <div class="col-xs-1 file-browser-header header">
            Version
        </div>
        <div class="col-xs-1 file-browser-header header">
            Downloads
        </div>
        <div class="col-xs-2 file-browser-header header">
            Date Modified
        </div>
    </div>

<div class='file-browser-list'>
        <!-- {{#ember-collection
            items=items
            cell-layout=(fixed-grid-layout itemWidth itemHeight)
            as |item|
        }}

            {{file-browser-item
                item=item
                navigateToItem=(action 'navigateToItem')
                selectItem=(action 'selectItem')
                openItem=(action 'openItem')
                class=(if item.isSelected 'selected')
                selectMultiple=(action 'selectMultiple')
            }}
            <hr>
        {{/ember-collection}}
         -->
        {{#each items as |item|}}
        {{file-browser-item
            item=item
            navigateToItem=(action 'navigateToItem')
            selectItem=(action 'selectItem')
            openItem=(action 'openItem')
            class=(if item.isSelected 'selected')
            selectMultiple=(action 'selectMultiple')
        }}
        {{/each}}
        {{#unless itemsLoaded}}
            {{fa-icon 'spinner' size=3 pulse=true}}
        {{/unless}}
</div>
