<h3>{{t 'nodes.detail.files.provider.file.revisions.revisionTitle'}}</h3>
<table class='table table-bordered'>
    <thead>
        <tr>
            <th>{{t 'nodes.detail.files.provider.file.revisions.version'}}</th>
            <th>{{t 'nodes.detail.files.provider.file.revisions.size'}}</th>
            <th>{{t 'nodes.detail.files.provider.file.revisions.download'}}</th>
        </tr>
    </thead>
    <tbody>
        {{#each model as |version|}}
            {{file-version version=version download='download'}}
        {{/each}}
    </tbody>
</table>
