{{#if hasBlock}}
    {{yield this}}
{{else}}
    <p>
        {{input type='file' multiple=multiple
            change=(action 'onFileInputChange')}}
    </p>
    <p>
        {{t 'eosf.fileChooser.textHelp'}}
    </p>
    {{#if errorMessage}}
        <div>{{t 'eosf.fileChooser.textError'}}: {{errorMessage}}</div>
    {{/if}}
    {{#if files}}
        <h4>{{t 'eosf.fileChooser.'}}</h4>
        <ul>
            {{#each files as |file|}}
                <li>{{file.name}}</li>
            {{/each}}
        </ul>
    {{/if}}
{{/if}}
