<div class="file-tree">
    {{#if onClickFile}}
        <a {{action onClickFile root}} role="link">{{root.name}}</a>
    {{else}}
        {{#if root.isProvider}}
            {{link-to root.name 'nodes.detail.files.provider' node root}}
        {{else}}
            {{link-to root.name 'nodes.detail.files.provider.file' node root.provider root}}
        {{/if}}
    {{/if}}
    {{#if root.isFolder}}
        <ul class="folder-list">
            {{#each root.files as |file|}}
                <li>
                    {{file-tree root=file node=node}}
                </li>
            {{else}}
                <li>({{t 'components.fileTree.emptyFolder'}})</li>
            {{/each}}
        </ul>
    {{/if}}
</div>
