<article class="login-form" role="region" aria-labelledby={{elem-id this "login-heading-title"}}>
    <div class="toggle-box toggle-box-left p-h-lg">
        <form
            id={{elem-id this 'login-form'}}
            class="form-horizontal"
            method="POST"
            action={{submitUrl}}
        >
            <h2 class="m-b-lg" id={{elem-id this "login-heading-title"}}> {{t 'eosf.loginForm.headingTitle'}} </h2>
            <div class="form-group">
                <label for={{elem-id this 'login-input-email'}} class="col-sm-3 control-label">{{t 'eosf.loginForm.labelInputEmail'}}</label>
                <div class="col-sm-9">
                    <input
                    type="email"
                    class="form-control"
                    name="username"
                    id={{elem-id this 'login-input-email'}}
                    placeholder={{t 'eosf.loginForm.labelInputEmail'}}
                    autofocus
                    required
                    aria-required="true"
                    >
                </div>
            </div>
            <div class="form-group">
                <label for={{elem-id this 'login-input-password'}} class="col-sm-3 control-label">{{t 'eosf.loginForm.labelInputPassword'}}</label>
                <div class="col-sm-9">
                    <input
                    type="password"
                    class="form-control"
                    id={{elem-id this 'login-input-password'}}
                    placeholder={{t 'eosf.loginForm.labelInputPassword'}}
                    name="password"
                    required
                    aria-required="true"
                    >
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <div class="checkbox">
                        <label for={{elem-id this 'login-input-remember'}}>
                            <input type="checkbox" id={{elem-id this 'login-input-remember'}} name="rememberMe"> {{t 'eosf.loginForm.labelInputRemember'}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-success pull-right">{{t 'eosf.loginForm.buttonSubmit'}}</button>
                </div>
            </div>
        </form>
    </div>
    {{yield}}
</article>

    {{!--
     Login flow:
      1. This form sends to CAS.
        For Cookie login:   POST url: https://staging-accounts.osf.io/login?service=https://staging.osf.io/
        For token login:    window.location = `${config.OSF.oauthUrl}?response_type=token&scope=${config.OSF.scope}&client_id=${config.OSF.clientId}&redirect_uri=${encodeURI(window.location)}/`;

      2. Then CAS redirects to this app's cookielogin url, so the ember authorizer can immediately pick off the ticket
      3. The ember authorizer then sends an ajax request to the OSF so a cookie can be set

    Tricky bit: the ember app and the OSF must run on the same port, so that the authorizer request doesn't trigger a CORS error when hitting the OSF
    This is problematic, because we need to serve the ember app (for redirect from CAS) at ~same time OSF is running to respond to the ajax call

    These are two separate servers (unless we build and dump into an OSF static folder somewhere)

    staging url: action="https://staging-accounts.osf.io/login?service=http://localhost:4200/cookielogin/&amp;auto=true"
    --}}
