<article class="login-form">
    <div class="col-sm-5 col-sm-offset-1 toggle-box toggle-box-left p-h-lg">
        <form id="logInForm" class="form-horizontal">
            <h3 class="m-b-lg"> {{t 'eosf.login.formTitle'}} </h3>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">{{t 'eosf.login.labelEmail'}}</label>
                <div class="col-sm-9">
                    <input
                    type="email"
                    class="form-control"
                    name="username"
                    id="inputEmail3"
                    placeholder={{t 'eosf.login.labelEmail'}}
                    >
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">{{t 'eosf.login.labelPassword'}}</label>
                <div class="col-sm-9">
                    <input
                    type="password"
                    class="form-control"
                    id="inputPassword3"
                    placeholder={{t 'eosf.login.labelPassword'}}
                    name="password"
                    >
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <div class="checkbox">
                        <label><input type="checkbox"> {{t 'eosf.login.labelRememberMe'}}</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-success pull-right">{{t 'eosf.login.buttonSignIn'}}</button>
                </div>
            </div>
        </form>
    </div>
    {{yield}}
</article>
