<h2> {{t 'components.contribManager.addContributor'}} </h2>
<div class="form">
    <div class="form-group">
        <label> {{t 'components.contribManager.userID'}} </label> {{input value=newContributorId}}
    </div>
    <div class="form-group">
        <label> {{t 'components.contribManager.permissions'}}: </label>
        <div class="input-group">{{radio-button name="permission" value=READ checked=newContributorPermissions}} {{t 'components.contribManager.read'}}</div>
        <div class="input-group">{{radio-button name="permission" value=WRITE checked=newContributorPermissions}} {{t 'components.contribManager.readWrite'}}</div>
        <div class="input-group">{{radio-button name="permission" value=ADMIN checked=newContributorPermissions}} {{t 'components.contribManager.admin'}}</div>
    </div>
    <div class="form-group">
        <label> {{t 'components.contribManager.bibliographic'}}: </label>
        <div class="input-group">{{radio-button name="bibliographic" value=true checked=newContributorIsBibliographic}} {{t 'components.contribManager.bibliographic'}} </div>
        <div class="input-group">{{radio-button name="bibliographic" value=false checked=newContributorIsBibliographic}} {{t 'components.contribManager.nonBibliographic'}} </div>
    </div>
    <div class="form-group">
        <button {{action 'addContributor' newContributorId newContributorPermissions newContributorIsBibliographic}} class="btn btn-primary">{{t 'components.contribManager.add'}}</button>
    </div>
</div>

<table class="table">
    <tr>
        <th>{{t 'components.contribManager.id'}}</th>
        <th> {{t 'components.contribManager.name'}} </th>
        <th> {{t 'components.contribManager.permissions'}} </th>
        <th> {{t 'components.contribManager.bibliographic'}} </th>
        <th> </th>
    </tr>
    {{#each contributors as |contrib|}}
        <tr>
            <td>
                {{contrib.id}}
            </td>
            <td>
                {{if contrib.unregisteredContributor contrib.unregisteredContributor contrib.users.fullName}}
            </td>
            <td>
                <select onchange={{action (action 'permissionChange' contrib) value='target.value'}} >
                    <option value=READ selected={{if (eq contrib.permission READ) true false}}> {{t 'components.contribManager.read'}} </option>
                    <option value=WRITE selected={{if (eq contrib.permission WRITE) true false}}> {{t 'components.contribManager.readWrite'}} </option>
                    <option value=ADMIN selected={{if (eq contrib.permission ADMIN) true false}}> {{t 'components.contribManager.admin'}} </option>
                </select>
            </td>
            <td>
                <input onchange={{action (action 'bibliographicChange' contrib) value='target.checked'}} checked={{if contrib.bibliographic true false}} type="checkbox" name="bibliographic">
            </td>
            <td>
                <button {{action 'removeContributor' contrib}} class="btn btn-danger"> {{t 'components.contribManager.remove'}} </button>
            </td>
        </tr>
    {{/each}}
</table>
<button {{action 'updateContributors'}} class="btn btn-primary"> {{t 'components.contribManager.saveChanges'}} </button>
