<div class="donate-banner">
    <div class="container">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div class="row">
                <a href="https://www.crowdrise.com/centerforopenscience" {{action "click" "link" "DonateBanner - Donate Now" preventDefault=false}}>
                    <div class="col-sm-md-lg-12 hidden-xs">
                        <div class="{{largeClass}}" alt="{{altLg}}"></div>
                    </div>
                    <div class="col-xs-12 hidden-sm hidden-md hidden-lg hidden-xl">
                        <div class="{{smallClass}}" alt="{{altSm}}"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
