<td>
	{{#if clickable}}
		<a href='{{version.url}}'>{{version.id}}</a>
	{{else}}
		{{version.id}}
	{{/if}}
</td>
<td>{{version.size}}</td>
<td><button {{action 'downloadVersion' version.id}}>{{fa-icon 'download'}}</button></td>
