<tr class='file-row'>
    {{! TODO: configurable columns }}
    <td class="{{if row.selected 'selected'}}">
        {{file-browser-icon row=row}}
        <a {{action 'clickRow' row}}>{{row.name}}</a>
    </td>
</tr>
{{#if row.expanded}}
    <tr>
        <td class='subtree-wrapper'>
            {{#if row.childTrees}}
                <table class='table table-condensed'>
                    {{#each row.childTrees as |child|}}
                        {{file-browser-tree root=child
                        selectedPath=nextSelectedPath
                        onClickFile=onClickFile
                        onClickNode=onClickNode}}
                    {{/each}}
                </table>
            {{/if}}
        </td>
    </tr>
{{/if}}
