<div>
    <button class="btn btn-primary" {{action 'previous'}} disabled={{disablePageReverse}}>{{t 'eosf.paginationControl.buttonPrevious'}}</button>
    <button class="btn btn-primary" {{action 'next'}} disabled={{disablePageForward}}>{{t 'eosf.paginationControl.buttonNext'}}</button>
</div>

<div>
    Page <input value={{currentPage}} onchange={{action 'goToPage' value='target.value'}}> of {{pageCount}}
</div>
