<div>
    <button class="btn btn-primary" {{action 'previous'}} disabled={{disablePageReverse}}>{{t 'eosf.components.paginationControl.previous'}}</button>
    <button class="btn btn-primary" {{action 'next'}} disabled={{disablePageForward}}>{{t 'eosf.components.paginationControl.next'}}</button>
</div>

<div>
    {{t 'eosf.components.paginationControl.page'}} <input value={{currentPage}} onchange={{action 'goToPage' value='target.value'}}> {{t 'eosf.components.paginationControl.of'}} {{pageCount}}
</div>
