<div class="container">
    <div class="search-header">
        <div class="row m-v-md"> {{!LOGO}}
            <div class="col-xs-12 text-center">
                {{#if page-header}}
                    <h1> {{page-header}}</h1> {{!TEXT HEADER FOR PARTICULAR SERVICE}}
                {{else}}
                     <h1 class="service-logo"></h1> {{!LOGO FOR PARTICULAR SERVICE}}
                {{/if}}
            </div>
        </div>

        <div class="row m-t-md m-b-lg text-center"> {{!SEARCH}}
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="input-group input-group-lg"> {{!SEARCH BAR}}
                    {{input id="searchBox" value=(mut queryString) class="form-control" key-up='search' placeholder=searchPlaceholder}}
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"> {{searchButton}} </button>
                    </span>
                </div>
                <p class="lead">{{poweredBy}} <a href="https://share.osf.io/" class="share-logo" title="SHARE"></a></p> {{! powered by SHARE}}
            </div>
        </div>
    </div>
</div>