<div class="container">
    <div class="search-header">
        <div class="row m-v-md"> {{!LOGO}}
            <div class="col-xs-12 text-center">
                {{#if page-header}}
                    <h1> {{page-header}}</h1> {{!TEXT HEADER FOR PARTICULAR SERVICE}}
                {{else}}
                     <h1 class="service-logo"></h1> {{!LOGO FOR PARTICULAR SERVICE}}
                {{/if}}
            </div>
        </div>

        <div class="row m-t-md m-b-lg text-center"> {{!SEARCH}}
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="input-group input-group-lg"> {{!SEARCH BAR}}
                    {{input id="searchBox" value=q class="form-control" key-up='typing' placeholder=searchPlaceholder}}
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"> {{searchButton}} </button>
                    </span>
                </div>
                <p class="lead">{{poweredBy}} <a href="https://share.osf.io/" class="share-logo" title="SHARE"></a></p> {{! powered by SHARE}}
            </div>
        </div>

        <div class="row p-v-sm">
            <div class="col-xs-6">
                <button {{action 'clearFilters'}} class='btn btn-default clear-filters'>
                    Clear filters
                </button>
            </div>
            <div class="col-sm-6">
                <span class="pull-right"> {{!SORT BY}}
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="sortBy" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">
                            Sort by: {{sort-option-display sortOptions sort}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="sortBy">
                            {{#each sortOptions as |sortChoice|}}
                                <li style="cursor: pointer; cursor: hand"><a {{action "selectSortOption" sortChoice.sortBy}}>{{sortChoice.display}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                </span>
            </div>
        </div>

    </div>
</div>
<div class="search-below-the-fold">
    <div class="container">
        <div class='results-top'>
            <div class="row search-results-section p-v-xl">
                <div class="col-sm-3 col-xs-12 faceted-search-item-bar"> {{!LEFT PANEL - FILTER}}
                    {{faceted-search
                        onChange='filtersChanged'
                        updateParams='updateParams'
                        filters=facetFilters
                        facetStates=facetStates
                        facets=facets
                        aggregations=aggregations
                    }}
                </div>

                <div class="col-sm-9 col-xs-12">  {{!RIGHT PANEL - SEARCH RESULTS}}
                    {{#if loading}}
                        <div class="text-center p-v-md">
                            {{fa-icon 'spinner' pulse=true size=3}}
                        </div>
                    {{else if noResultsMessage}}
                        <div class="text-center no-results">{{noResultsMessage}}</div>
                    {{else}}
                        {{#each results as |obj|}}
                            {{search-result addFilter='addFilter' obj=obj}}
                        {{/each}}
                        <div class="pull-right text-right">
                            {{page-controls page=page clampedPages=clampedPages loadPage=(action 'loadPage')}}
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
