<div class='row'>
    <div class='col-sm-5'>
        <h2>{{model.name}}</h2>
    </div>
    <div class='col-sm-7'>
        <div class='pull-right'>
            {{link-to 'View'
                'nodes.detail.files.provider.file.index' 
                node model.provider model
                class='btn btn-sm btn-primary'}}
            {{link-to 'Revisions'
                'nodes.detail.files.provider.file.revisions' 
                node model.provider model
                class='btn btn-sm btn-primary'}}
            <button {{action 'download'}} class='btn btn-sm btn-primary'>Download</button>
            <button {{action 'delete'}} class='btn btn-sm btn-danger'>Delete</button>
            <button {{action 'checkout'}} class='btn btn-sm btn-warning'>Check out</button>
        </div>
    </div>
</div>
<hr>
<div class='row'>
    <div class='col-md-3'>
        {{file-browser rootNode=node
        onClickFile=(action 'fileDetail')
        onClickNode=(action 'nodeDetail')
        }}
        <div>
            <p><label> Tags </label></p>
            {{#tags-widget addATag=(action 'addATag') removeATag=(action 'removeATag') tags=model.tags}}
            {{/tags-widget}}
        </div>
    </div>
    <div class='col-md-9'>
        {{outlet}}
    </div>
</div>
