<div class="panel">
    <div>
        {{#link-to 'nodes.detail.files.provider' node model.provider class='btn'}}
            Back to {{model.provider}}
        {{/link-to}}
    </div>
    <h2>{{model.kind}} detail: {{model.name}}</h2>
    <p><label>ID: </label>{{model.id}}</p>
    <p><label>Provider: </label>{{model.provider}}</p>
    <p><label>Path: </label>{{model.path}}</p>
    <p><label>Materialized path: </label>{{model.materializedPath}}</p>
    <p><label>Last touched: </label>{{model.lastTouched}}</p>
    <p><label>Date modified: </label>{{model.dateModified}}</p>
    <p><label>Date created: </label>{{model.dateCreated}}</p>
    <p><label>Checkout: </label>{{model.checkout}}</p>
    <p><label> Tags </label></p>
    {{#tags-widget addATag=(action 'addATag') removeATag=(action 'removeATag') tags=model.tags}}
    {{/tags-widget}}

    <hr>

    <h3>Actions</h3>
    {{file-actions file=model onChange=(action 'reloadFiles')}}

    <hr>
    {{#if model.isFolder}}
        <h3>Files</h3>
        {{file-tree root=model node=node}}
    {{else}}
        <h3>Versions</h3>
        <ul>
            {{#each model.versions as |version|}}
                {{file-version version=version}}
            {{else}}
                (none)
            {{/each}}
        </ul>
        <hr>
        <h3>Comments</h3>
        <ul>
            {{#each model.comments as |comment|}}
                <li>
                    <label>{{comment.dateCreated}}: </label>
                    {{comment.content}}
                </li>
            {{else}}
                (none)
            {{/each}}
        </ul>
    {{/if}}

    {{#file-renderer download=model.links.download width="1000" height="1000"}}
    {{/file-renderer}}
</div>
