<div class='row'>
    <div class='col-sm-5'>
        <h2>{{model.name}}</h2>
    </div>
    <div class='col-sm-7'>
        <div class='pull-right'>
            <a {{action 'delete'}} class='btn btn-sm btn-danger'>Delete</a>
            <a {{action 'checkout'}} class='btn btn-sm btn-warning'>Check out</a>
            <a {{action 'download'}} class='btn btn-sm btn-primary'>Download</a>
            <a {{action 'revisions'}} class='btn btn-sm btn-default'>Revisions</a>
        </div>
    </div>
</div>
<hr>
<div class='row'>
    <div class='col-md-3'>
        {{file-browser rootNode=node
        onClickFile=(action 'fileDetail')
        onClickNode=(action 'nodeDetail')
        }}
    </div>
    <div class='col-md-9'>
        {{#file-renderer download=model.links.download
            width="800" height="1000"}}
        {{/file-renderer}}
    </div>
</div>
