<div class="panel">
    <div>
        {{link-to 'Back to providers' 'nodes.detail.files'
        model.node class='btn'}}
    </div>
    <h2>{{model.name}}</h2>
    <p><label>{{t 'nodes.detail.files.provider.index.id'}}: </label>{{model.id}}</p>
    <p><label>{{t 'nodes.detail.files.provider.index.provider'}}: </label>{{model.provider}}</p>
    <p><label>{{t 'nodes.detail.files.provider.index.path'}}: </label>{{model.path}}</p>

    <h3>{{t 'nodes.detail.files.provider.index.files'}}</h3>
    {{file-tree root=model node=model.node}}

    <hr>

    <h3>{{t 'nodes.detail.files.provider.index.actions'}}</h3>
    {{file-actions file=model onChange=(action 'reloadFiles')}}
</div>
