{{link-to 'Back to list' 'collections' class="btn btn-default"}}
<div class="panel">
    <p><label>Title:</label> {{model.title}}</p>
    <p><label>Date created:</label> {{moment-format model.dateCreated}}</p>
    <p><label>Date modified:</label> {{moment-format model.dateModified}}</p>
    <p><label>Bookmark:</label> {{model.bookmarks}}</p>
</div>
