<div>
    <h3>Create Collection</h3>
    {{input value=title placeholder="Collection title" required=true}}
    <button {{action "createCollection" title}}>Create</button>
</div>
<hr>
<div>
    <h3>Collections list</h3>
    {{#each model as |collection|}}
        <p>Title: {{collection.title}}</p>
        <p>Date created: {{moment-format collection.dateCreated}}</p>
        <p>Date modified: {{moment-format collection.dateModified}}</p>
        <p>Bookmark: {{collection.bookmarks}}</p>
        {{link-to "View collection" "collections.detail" collection.id class="btn btn-primary"}}
        <hr>
    {{/each}}
</div>
