{{title "OSF | Edit " model.branchedFrom.title " registration" replace=true}}
{{link-to 'Back to node' 'nodes.detail' class='btn btn-default'}}
{{link-to 'View registrations' 'nodes.detail.registrations' class='btn btn-primary'}}
{{link-to 'View draft registrations' 'nodes.detail.draft_registrations' class='btn btn-info'}}


<h2> {{model.registrationSchema.name}} </h2>
<p> {{t 'nodes.detail.draftRegistrations.detail.initiatedBy'}}: {{model.initiator.fullName}}</p>
<p> {{t 'nodes.detail.draftRegistrations.detail.started'}}: {{moment-format model.datetimeInitiated}} </p>
<p> {{t 'nodes.detail.draftRegistrations.detail.lastUpdated'}}: {{moment-format model.datetimeUpdated}} </p>

<hr>

<h3> {{t 'nodes.detail.draftRegistrations.detail.editDraftRegistration'}} </h3>
{{#each model.registrationSchema.schema.pages as |page|}}

    {{#each page.questions as |question|}}
        <p> <label> {{question.title}} </label> </p>
        {{#if question.description}}
            <p> {{question.description}} </p>
        {{/if}}
        {{#if (eq question.type "choose")}}
            {{#unless question.description}}
                <p> <em> {{t 'nodes.detail.draftRegistrations.detail.pleaseChoose'}} </em> </p>
            {{/unless}}
            <form>
                {{#each question.options as |option|}}
                    {{#if (eq (check-data-type option) "string")}}
                        <p> <input onchange={{action "buildForm" value="target"}} type="radio" name={{question.qid}} value={{option}} checked={{selected-helper option (draft-text-input model.registrationMetadata question)}}> {{option}} </p>
                    {{else}}
                        <p> <input onchange={{action "buildForm" value="target"}} type="radio" name={{question.qid}} value={{option.text}} checked={{selected-helper option.text (draft-text-input model.registrationMetadata question)}}> {{option.text}} </p>
                    {{/if}}
                {{/each}}
            </form>
        {{else if (eq question.type "object")}}
            {{#each question.properties as |subquestion|}}
                {{#if subquestion.description}}
                    <p>{{subquestion.description}}</p>
                {{/if}}
                {{#if (eq subquestion.type "osf-upload")}}
                    <p>
                        {{t 'nodes.detail.draftRegistrations.detail.youMayAttachMessage1'}}.
                        {{t 'nodes.detail.draftRegistrations.detail.youMayAttachMessage2'}}.
                        {{t 'nodes.detail.draftRegistrations.detail.youMayAttachMessage3'}}.
                    </p>
                    <a href=#> {{t 'nodes.detail.draftRegistrations.detail.attachFile'}} ({{t 'nodes.detail.draftRegistrations.detail.notImplemented'}}) </a>
                {{else}}
                    {{#if subquestion.properties}}
                        {{#each subquestion.properties as |item|}}
                            {{#if item.description}}
                                <p>{{item.description}}</p>
                            {{/if}}
                            <p><textarea onchange={{action "buildForm" value="target"}} name="{{question.qid}}:{{subquestion.id}}:{{item.id}}" value={{draft-text-input model.registrationMetadata question subquestion item}}></textarea></p>
                        {{/each}}
                    {{else}}
                        <p><textarea onchange={{action "buildForm" value="target"}} name="{{question.qid}}:{{subquestion.id}}" value={{draft-text-input model.registrationMetadata question subquestion}}></textarea></p>
                    {{/if}}
                {{/if}}
            {{/each}}
        {{else}}
            <textarea onchange={{action "buildForm" value="target"}} name={{question.qid}} value={{draft-text-input model.registrationMetadata question}}> </textarea>
        {{/if}}
        <hr>
    {{/each}}
{{/each}}

{{#if formDisplayed}}
    <h3> {{t 'nodes.detail.draftRegistrations.detail.beforeYouContinue'}} ... </h3>
    <p><label> {{t 'nodes.detail.draftRegistrations.detail.registrationChoice'}} </label></p>
    <select onchange={{action "changeRegistrationChoice" value="target.value"}}>
        <option value="immediate"> {{t 'nodes.detail.draftRegistrations.detail.makePublic'}} </option>
        <option value="embargo"> {{t 'nodes.detail.draftRegistrations.detail.makeEmbargo'}} </option>
    </select>
    {{#if embargoSelected}}
        <p><label> {{t 'nodes.detail.draftRegistrations.detail.embargoEndDate'}} </label></p>
        <input name="liftEmbargo" type="date" value="liftEmbargo" onchange={{action "changeEmbargoEndDate" value="target.value"}}>
    {{/if}}
    <br><br>
    <p>
        <button class='btn btn-default' {{action "regForm"}}>{{t 'nodes.detail.draftRegistrations.detail.cancel'}}</button>
        <button class='btn btn-success' {{action "registerDraft" editedMetadata registrationChoice liftEmbargo}}>{{t 'nodes.detail.draftRegistrations.detail.continue'}}</button>
    </p>
{{else}}
    <p>
        <button class='btn btn-primary' {{action "editDraft" editedMetadata "draft"}}>{{t 'nodes.detail.draftRegistrations.detail.saveAsDraft'}}</button>
        <button class='btn btn-success' {{action "regForm"}}>{{t 'nodes.detail.draftRegistrations.detail.register'}}</button>
    </p>
{{/if}}
