{{outlet}}
{{link-to 'Back to node' 'nodes.detail' model.node class='btn btn-default'}}

<h2> Draft Registrations </h2>

{{link-to 'View Registrations' 'nodes.detail.registrations' model.node class='btn btn-primary'}}

{{#if formDisplayed}}
    <hr>
    <h3> Register </h3>
    <p>
        Registration creates a frozen version of the project that can never be edited or deleted but can be withdrawn. Your original project remains editable but will now have the registration linked to it.
    </p>
    <p> Things to know about registration: </p>
    <ul>
        <li> Ensure your project is in the state you wish to freeze before registering. </li>
        <li> Consider turning links into forks. </li>
        <li>Registrations can have embargo periods for up to four years. If you choose an embargo period, the registration will automatically become public when the embargo expires. </li>
        <li> Withdrawing a registration removes the contents of the registrations but will leave behind a log showing when the registration was created and withdrawn. </li>
    </ul>
    <p> <strong> Continue your registration by selecting a registration form: </strong> </p>
    <p>{{radio-button name="form" value="572a6d8163ca2fd4e992e66f" checked=schema}} Prereg Challenge </p>
    <p>{{radio-button name="form" value="572a6d8163ca2fd4e992e668" checked=schema}} Open-Ended Registration </p>
    <p>{{radio-button name="form" value="572a6d8163ca2fd4e992e66a" checked=schema}} OSF-Standard Pre-Data Collection Registration </p>
    <p>{{radio-button name="form" value="572a6d8163ca2fd4e992e66c" checked=schema}} Replication Recipe (Brandt et al., 2013): Pre-Registration </p>
    <p>{{radio-button name="form" value="572a6d8163ca2fd4e992e66e" checked=schema}} Replication Recipe (Brandt et al., 2013): Post-Completion </p>
    <p>{{radio-button name="form" value="572a6d8163ca2fd4e992e672" checked=schema}} Pre-Registration in Social Psychology (van 't Veer & Giner-Sorolla, 2016): Pre-Registration </p>

    <button type="button" {{action "draftForm"}} class="btn btn-default">
        Cancel
    </button>
    <button type="button" {{action "createDraft" schema}} class="btn btn-primary">
        Create Draft
    </button>
{{else}}
    <button type="button" {{action "draftForm"}} class="btn btn-success">
        New Registration
    </button>
{{/if}}

<hr>

{{#if model.drafts}}
    {{#each model.drafts as |draft|}}
        <h3> {{draft.registrationSchema.name}} </h3>
        <p> Initiated by: {{draft.initiator.fullName}}</p>
        <p> Started: {{moment-format draft.datetimeInitiated}} </p>
        <p> Last Updated: {{moment-format draft.datetimeUpdated}} </p>

        {{#link-to "nodes.detail.draft_registrations.detail" draft.id class="btn btn-info btn-sm"}}
            <i class="glyphicon glyphicon-pencil"></i>  Edit
        {{/link-to}}

        <button type="button" {{action "deleteDraft" draft}} class="btn btn-danger btn-sm">
            <i class="glyphicon glyphicon-remove"></i>  Delete
        </button>
        <hr>
    {{/each}}
{{/if}}
