{{outlet}}
{{title "Draft Registrations"}}

{{link-to 'Back to node' 'nodes.detail' class='btn btn-default'}}

<h2> {{t 'nodes.detail.draftRegistrations.index.draftRegistrationsTitle'}} </h2>

{{link-to 'View Registrations' 'nodes.detail.registrations' class='btn btn-primary'}}

{{#if formDisplayed}}
    <hr>
    <h3> {{t 'nodes.detail.draftRegistrations.index.register'}} </h3>
    <p> {{t 'nodes.detail.draftRegistrations.index.registrationDesc'}} </p>
    <p> {{t 'nodes.detail.draftRegistrations.index.thingsToKnowTitle'}}: </p>
    <ul>
        <li>{{t 'nodes.detail.draftRegistrations.index.thingsToKnow1'}}.</li>
        <li>{{t 'nodes.detail.draftRegistrations.index.thingsToKnow2'}}.</li>
        <li>{{t 'nodes.detail.draftRegistrations.index.thingsToKnow3'}}.</li>
        <li>{{t 'nodes.detail.draftRegistrations.index.thingsToKnow4'}}.</li>
    </ul>
    <p> <strong> {{t 'nodes.detail.draftRegistrations.index.selectRegistrationForm'}}: </strong> </p>
    {{#each metaschemas as |metaschema|}}
        <p>{{radio-button name="form" value=metaschema.id checked=schema}} {{metaschema.name}} </p>
    {{/each}}

    <button type="button" {{action "draftForm"}} class="btn btn-default">
        {{t 'nodes.detail.draftRegistrations.index.cancel'}}
    </button>
    <button type="button" {{action "createDraft" schema}} class="btn btn-primary">
        {{t 'nodes.detail.draftRegistrations.index.createDraft'}}
    </button>
{{else}}
    <button type="button" {{action "draftForm"}} class="btn btn-success">
        {{t 'nodes.detail.draftRegistrations.index.newRegistration'}}
    </button>
{{/if}}

<hr>

{{#if model}}
    {{#each model as |draft|}}
        <h3> {{draft.registrationSchema.name}} </h3>
        <p> {{t 'nodes.detail.draftRegistrations.index.initiatedBy'}}: {{draft.initiator.fullName}}</p>
        <p> {{t 'nodes.detail.draftRegistrations.index.started'}}: {{moment-format draft.datetimeInitiated}} </p>
        <p> {{t 'nodes.detail.draftRegistrations.index.lastUpdated'}}: {{moment-format draft.datetimeUpdated}} </p>

        {{#link-to "nodes.detail.draft_registrations.detail" draft.id class="btn btn-info btn-sm"}}
            <i class="glyphicon glyphicon-pencil"></i>  {{t 'nodes.detail.draftRegistrations.index.edit'}}
        {{/link-to}}

        <button type="button" {{action "deleteDraft" draft}} class="btn btn-danger btn-sm">
            <i class="glyphicon glyphicon-remove"></i>  {{t 'nodes.detail.draftRegistrations.index.delete'}}
        </button>
        <hr>
    {{/each}}
{{/if}}
