{{! Template similar to Ember-Preprints Layout, but using Ember-SHARE properties}}
<div class="search-result p-sm">
    <div class="row">
        <div class="col-xs-12">
            {{!Title}}
            <h4>
                {{#if detailRoute}}
                    {{#link-to detailRoute obj.id}}
                        {{#if safeTitle}}
                            {{safeTitle}}
                        {{else}}
                            <i class="no-title">Title not provided</i>
                        {{/if}}
                    {{/link-to}}
                {{else}}
                    <a href="{{share-detail-url obj.type obj.id}}">
                        {{#if safeTitle}}
                            {{safeTitle}}
                        {{else}}
                            <i class="no-title">Title not provided</i>
                        {{/if}}
                    </a>
                {{/if}}
            </h4>
            {{!Authors}}
            <p>
                {{#each contributors as |contrib index|}}
                    {{#if index~}}
                        <span>,</span>
                    {{~/if}}
                    {{contrib.name~}}
                {{/each}}
                {{#if extraContributors}} {{!+5, for example}}
                    <span class="text-muted">+{{extraContributors.length}}</span>
                {{/if}}
            </p>

            {{!Abstract}}
            <p>
                <div class="text-muted m-t-sm">
                    {{#if abbreviation}}
                        {{abbreviation}}
                        {{#if abbreviated}}
                            <span class="text-muted">...</span>
                        {{/if}}
                    {{/if}}
                </div>
            </p>

            {{!Provider}}
            <div class="m-t-sm">
                {{#each obj.sources as |source index|}}
                    {{#if index}}
                        <span>,</span>
                    {{/if}}
                    <strong> {{source}} </strong>
                {{/each}}
                {{!Date Published}}
                {{#if obj.date_published}}
                    <span class="pull-right">
                        {{moment-format obj.date_published}}
                    </span>
                {{/if}}
            </div>

            {{#if showBody}}
                {{!Links}}
                {{#if identifiers}}
                    <ul class="preprints-block-list m-t-sm">
                        {{#each identifiers as |link|}}
                            <li><a href='{{link}}'>{{link}}</a></li>
                        {{/each}}
                    </ul>
                {{/if}}

                {{!Tags}}
                {{#each tags as |tag|}}
                    <a class="filter" {{action 'addFilter' 'tags' tag}}>
                        <span class="badge">{{tag}}</span>
                    </a>
                {{/each}}
                {{#if extraTags}}
                    <span class="text-muted">+{{extraTags.length}}</span>
                {{/if}}

                {{!Subjects}}
                {{#each subjects as |subject|}}
                    <a class="filter" {{action 'addFilter' 'subjects' subject}}>
                        <span class="badge">{{subject}}</span>
                    </a>
                {{/each}}
                {{#if extraSubjects}}
                    <span class="text-muted">+{{extraSubjects.length}}</span>
                {{/if}}
            {{/if}}

        </div>
    </div>

    <div class="text-center" {{action "toggleShowBody"}}>
        <a href=''>{{fa-icon footerIcon size=1}}</a>
    </div>
</div>