{{! Template similar to Ember-Preprints Layout, but using Ember-SHARE properties}}
<div class="search-result p-sm">
    <div class="row">
        <div class="col-xs-12">
            {{!Title}}
            <h4>
                {{#if detailRoute}}
                    {{#if osfID}}
                        {{#link-to detailRoute osfID}}{{result.title}}{{/link-to}}
                    {{else}}
                        {{#link-to detailRoute result.id}}{{result.title}}{{/link-to}}
                    {{/if}}
                {{else}}
                    {{#if hyperlink}}
                        <a href='{{hyperlink}}'>{{result.title}}</a>
                    {{else}}
                        <span>{{result.title}}</span>
                    {{/if}}
                {{/if}}
            </h4>

            {{!Authors}}
            <p>
                {{~#each creators as |creator index|}}
                    {{#if index~}}
                        <span>,</span>
                    {{~/if}}
                    {{author-link contributor=creator}}
                {{~/each}}
                {{#if extraCreators}} {{!+5, for example}}
                    <span class="text-muted">+{{extraCreators.length}}</span>
                {{/if}}
            </p>

            {{!Added on}}
            <div class="m-t-sm"> <em> {{t "eosf.components.searchResult.addedOn"}}: {{moment-format result.date 'YYYY-MM-DD hh:mm a'}} </em> </div>

            {{!Disciplines}}
            {{#if subjects}}
                <div class="m-t-sm">
                    {{#each subjects as |subject|}}
                        <span class='subject-preview pointer' onclick={{action updateFilters 'subjects' subject.text}}>
                            {{subject.text}}
                        </span>
                    {{/each}}
                </div>
            {{/if}}
            {{#if extraSubjects}}
                <span class="text-muted">+{{extraSubjects.length}}</span>
            {{/if}}

            {{!Abstract}}
            <p>
                <div class="text-muted m-t-sm">
                    {{#if abbreviation}}
                        {{abbreviation}}
                        {{#if abbreviated}}
                            <span class="text-muted">...</span>
                        {{/if}}
                    {{/if}}
                </div>
            </p>

            {{!Provider and date}}
            <div class="m-t-sm">
                <span class="search-result-providers">
                    {{#each result.providers as |provider index|}}
                        {{if index '| '}}{{filter-replace provider.name filterReplace}}
                    {{/each}}
                </span>
                <span class="pull-right">
                    {{#if result.dateModified}} {{! moment-format will use current time if null}}
                        <span>{{moment-format result.dateModified "MMMM YYYY"}}</span>
                    {{/if}}
                </span>
            </div>

            {{#if showBody}}
                {{!Links}}
                {{#if result.hyperLinks}}
                    <ul class="preprints-block-list m-t-sm">
                        {{#each result.hyperLinks as |link|}}
                            <li><a href='{{link.url}}' {{action 'click' 'link' 'Preprints - Discover - Result Hyperlink' link.url}}>{{link.url}}</a></li>
                        {{/each}}
                    </ul>
                {{/if}}

                {{#if result.infoLinks}}
                    <ul class="preprints-block-list">
                        {{#each result.infoLinks as |link|}}
                            <li><b>{{link.type}}:</b> {{link.uri}}</li>
                        {{/each}}
                    </ul>
                {{/if}}

                {{!Tags}}
                {{#each tags as |tag|}}
                    <a class="filter" {{action 'addFilter' 'tags' tag}}>
                        <span class="badge">{{fix-special-char tag}}</span>
                    </a>
                {{/each}}
                {{#if extraTags}}
                    <span class="text-muted">+{{extraTags.length}}</span>
                {{/if}}
            {{/if}}
        </div>
    </div>

    <div class="text-center" {{action "toggleShowBody"}}>
        <a href=''>{{fa-icon footerIcon size=1}}</a>
    </div>
</div>