{{title model.title}}
{{link-to 'Back to list' 'registrations' class="btn btn-default"}}
<div class="panel">
    <p><label>{{t 'registrations.detail.title'}}: </label>{{model.title}}</p>
    <p><label>{{t 'registrations.detail.category'}}: </label>{{model.category}}</p>
    <p><label>{{t 'registrations.detail.dateRegistered'}}: </label>{{moment-format model.dateRegistered}}</p>
    <p>
        <a href="{{model.links.html}}" target="_blank" rel="noopener" class="btn btn-primary">
            {{t 'registrations.detail.viewOnOSF'}}
        </a>
    </p>
    <p>
        {{link-to 'Node Registered' 'nodes.detail' model.registeredFrom.id class="btn btn-warning"}}
    </p>
    <hr>
    {{log-detail node-logs=model.logs}}
</div>
