{{title "Registrations"}}
<h4> {{t 'registrations.index.myRegistrations'}} </h4>
{{#each model as |registration|}}
    <hr>
    <div class="panel">
        <p><label>{{t 'registrations.index.title'}}: </label>{{registration.title}}</p>
        <p><label>{{t 'registrations.index.category'}}: </label>{{registration.category}}</p>
        <p><label>{{t 'registrations.index.dateRegistered'}}: </label>{{moment-format registration.dateRegistered}}</p>
        <p class="btn-group">
            <a href="{{registration.links.html}}" target="_blank" rel="noopener" class="btn btn-default">
                {{t 'registrations.index.viewOnOSF'}}
            </a>
            {{link-to 'Detail' 'registrations.detail' registration.id class="btn btn-primary"}}
        </p>
    </div>
{{/each}}
