<div class="panel panel-default">
    <div class="panel-body">
        {{#if allowDismiss}}
            <a class='pull-right' href='#' {{action 'dismiss'}}>{{fa-icon 'times'}}</a>
        {{/if}}
        <p><label>Choose a license:</label></p>
        {{license-list licenses=licensesAvailable currentLicense=currentValues.licenseType showCategories=showCategories select=(action 'selectLicense')}}
        <hr>
        {{#if showYear}}
            <p><label>Year:</label></p>
            {{input class='form-control' value=year}}
        {{/if}}
        {{#if showCopyrightHolders}}
            <p><label>Copyright Holders:</label></p>
            {{input value=copyrightHolders}}
        {{/if}}
        <br>
        <pre class='license-text' style='border:none; width:100%; text-align:justify; max-height: 300px;'>
            {{nodeLicenseText}}
        </pre>


        <button class='btn btn-success pull-right' {{action 'save'}}>Save</button>
    </div>
</div>
