<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1> {{t 'embeddingRecords.demonstrationOfEmbedded'}} </h1>

            <hr>

            <p> <button class="btn btn-default" {{action 'loadNodeEmbedPreprint'}}> {{t 'embeddingRecords.loadANode'}} </button> </p>

            {{#if nodePreprintsQueried}}
                {{#if preprintNode}}
                    <p>
                        <label>{{t 'embeddingRecords.nodeTitle'}}</label>: {{preprintNode.title}}
                        <label>{{t 'embeddingRecords.nodeID'}}</label>: {{preprintNode.id}}
                    </p>
                    <p> <em> {{t 'embeddingRecords.preprintWasEmbedded'}}!</em></p>
                    <p>
                        <label>{{t 'embeddingRecords.preprintID'}}</label>: {{preprint.id}}
                        {{#if preprint.doi}}
                            <label> {{t 'embeddingRecords.doi'}}: </label> {{preprint.doi}}
                        {{/if}}
                    </p>
                    <p> <label> {{t 'embeddingRecords.abstract'}}: </label> {{preprintNode.description}} </p>
                    <p>
                        <label> {{t 'embeddingRecords.subjects'}}: </label>

                        <ul>
                            {{#each preprint.subjects as |subjectBlock|}}
                                {{#each subjectBlock as |subject|}}
                                    <li>{{subject.text}}</li>
                                {{/each}}
                            {{/each}}
                        </ul>

                    </p>
                {{else}}
                    <p class="text-warning"> {{t 'embeddingRecords.noNodesWarning1'}} ({{t 'embeddingRecords.noNodesWarning2'}})! </p>
                {{/if}}

            {{/if}}

            <hr>

            {{input value=userQuery placeholder='Enter user name'}}
            <button class="btn btn-default" disabled={{not userQuery}} {{action 'searchUsers' userQuery}}> {{t 'embeddingRecords.searchUsers'}} </button>
            {{#if matchingUsers}}
                <p> <label> {{t 'embeddingRecords.searchResults'}} </label> </p>
                <ul>
                    {{#each matchingUsers as |user|}}
                        <li> {{user.fullName}} </li>
                        {{#if user.nodes}}
                            <p> <b> {{t 'embeddingRecords.nodesWereEmbedded'}}!</b></p>
                            <p> <em>{{t 'embeddingRecords.userNodes'}}:</em> </p>
                            <ul>
                                {{#each user.nodes as |node|}}
                                    <li>{{node.title}}</li>
                                {{/each}}
                            </ul>
                        {{/if}}
                    {{/each}}
                </ul>
            {{else}}
                {{#if usersQueried}}
                    <p> {{t 'embeddingRecords.noUsersWarning'}}! </p>
                {{/if}}
            {{/if}}

        </div>
    </div>
</div>




