<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1> Embedding Test </h1>
            <p>
                 <button {{action "fetchNodePreprintsEmbedded"}} class="btn btn-default">Fetch test node with embedded preprints</button>
                {{#if fetchedNode}}
                    <br>
                    <p>
                        <label> Node id: </label> <p> {{fetchedNode.id}} </p>
                        <label> Node title: </label> <p> {{fetchedNode.title}} </p>
                        <label> Fetched Node Preprints</label>
                        <p>
                            {{#each fetchedNode.preprints as |preprint|}}
                                {{preprint.id}}
                                {{#each preprint.subjects as |subjectBlock|}}
                                    {{#each subjectBlock as |subject|}}
                                        {{subject.text}}
                                    {{/each}}
                                {{/each}}
                            {{/each}}
                        </p>
                    </p>

                {{/if}}
            </p>

            <p>
                <button {{action "fetchNodeParentEmbedded"}} class="btn btn-default">Fetch test child with embedded parent</button>
                {{#if fetchedChild}}
                    <br>
                    <p>
                        <label> Node id: </label> <p> {{fetchedChild.id}} </p>
                        <label> Node title: </label> <p> {{fetchedChild.title}} </p>
                        <label> Embedded Parent Id </label> <p> {{fetchedChild.parent.id}} </p>
                        <label> Embedded Parent Title </label> <p> {{fetchedChild.parent.title}} </p>
                    </p>

                {{/if}}
            </p>
        </div>
    </div>
</div>