<div class="panel">
  <h2>File detail</h2>
  <p><label>Name: </label>{{model.name}}</p>
  <p><label>Kind: </label>{{model.kind}}</p>
  <p><label>Path: </label>{{model.path}}</p>
  <p><label>Size: </label>{{model.size}}</p>
  <p><label>Provider: </label>{{model.provider}}</p>
  <p><label>Materialized path: </label>{{model.materializedPath}}</p>
  <p><label>Last touched: </label>{{model.lastTouched}}</p>
  <p><label>Date modified: </label>{{model.dateModified}}</p>
  <p><label>Date created: </label>{{model.dateCreated}}</p>
  <p><label>Checkout: </label>{{model.checkout}}</p>

  <hr />
  <h3>Versions</h3>
  <ul>
  {{#each model.versions as |version|}}
    <li>
        <div><label>ID: </label>{{version.id}}</div>
        <div><label>Size: </label>{{version.size}}</div>
        <div><label>Content type: </label>{{version.contentType}}</div>
    </li>
  {{else}}
    (none)
  {{/each}}
  </ul>
  <hr />
  <h3>Comments</h3>
  <ul>
  {{#each model.comments as |comment|}}
    <li>
        <div><label>{{comment.dateCreated}}: </label>{{comment.content}}</div>
    </li>
  {{else}}
    (none)
  {{/each}}
  </ul>
    
</div>
