<h3> {{t 'login.pageTitle'}}</h3>
<button class="btn btn-success" onclick={{action 'login'}}>{{t 'login.loginMessage'}}</button>

<h3> {{t 'login.signUp'}}</h3>
{{link-to 'Sign Up' 'signup' class="btn btn-default"}}

<h3> {{t 'login.getFancy'}}</h3>
{{oauth-popup authUrl=authUrl}}
