<div>
    <p>
        <label>{{t 'prereg.name'}}: {{input value=name}}</label>
    </p>
    <p>
        {{#file-chooser files=files as |component|}} 
            <p>
                {{t 'prereg.dragFilesHere'}}!
            </p>
            <p>
                {{t 'prereg.chooseFilesInstead'}}:
                {{input type='file'
                    change=(action 'onFileInputChange' target=component)}}
            </p>
            {{#if files}}
                <h4>{{t 'prereg.selectedFiles'}}</h4>
                <ul>
                    {{#each files as |file|}}
                        <li>{{file.name}}</li>
                    {{/each}}
                </ul>
            {{/if}}
        {{/file-chooser}}
    </p>
    <p>
        <button {{action 'preregister' name files}}>
            {{t 'prereg.submitPreregistration'}}
        </button>
    </p>
</div>
