<div class="osf-nav-wrapper">
    {{#bs-navbar id='navbarScope' type='inverse' position='fixed-top' fluid=false as |navbar|}}
        <div class="navbar-header">
            {{navbar.toggle type='inverse'}}
            {{!OSF BRAND}}
            <a class="navbar-brand" href="/" aria-label={{t 'eosf.navbar.goHome'}}>
                <span class="osf-navbar-logo"></span>
            </a>

            {{!NAME OF CURRENT SERVICE - HOME, PREPRINTS, REGISTRIES, or MEETINGS}}
            <div class="service-name">
                <a href="{{currentServiceLink}}">
                    <span class="hidden-xs"> OSF </span>
                    <span class="current-service"><strong>{{currentService}}</strong></span>
                </a>
            </div>

            {{!PRIMARY NAVIGATION - TOGGLE BETWEEN HOME, PREPRINTS, REGISTRIES, and MEETINGS}}
            {{#bs-dropdown tagName="div" classNames="dropdown primary-nav" as |dd|}}
                {{#dd.toggle tagName="button" classNames="btn-link"}}
                    <span class="fa fa-caret-down fa-2x"></span>
                {{/dd.toggle}}

                {{#dd.menu align="right" as |menu|}}
                    {{#each osfServices as |service|}}
                        {{#menu.item}}
                            <a href="{{service.url}}" onclick={{action 'click' 'link' (concat 'Navbar - ' service.name)}}>OSF<b>{{service.name}}</b></a>
                        {{/menu.item}}
                    {{/each}}
                {{/dd.menu}}
            {{/bs-dropdown}}
        </div>

        {{#navbar.content classNames='navbar-right-md'}}
            {{#navbar.nav as |nav|}}
                {{#each (build-secondary-nav-links currentService) as |navLink|}}
                    {{#if (and (eq currentService 'HOME') (eq navLink.type "search"))}}
                        {{#nav.item}}
                            {{!TOGGLE SEARCH BUTTON FOR HOME SERVICE}}
                            <button class="btn-link search-toggle" {{action 'toggleSearch'}} {{action 'click' 'button' (concat 'Navbar - ' currentService navLink.name)}}>
                                {{t navLink.name}}
                            </button>
                        {{/nav.item}}
                    {{else}}
                        {{!SERVICE LINK}}
                        {{#if (eq navLink.type 'donateToCOS')}}
                            {{#nav.item classNames="navbar-donate-button"}}
                                <a href="{{navLink.href}}" onclick={{action 'click' 'link' (concat 'Navbar - ' navLink.name)}}>
                                    {{t navLink.name}}
                                </a>
                            {{/nav.item}}
                        {{else}}
                            {{#nav.item}}
                                <a href="{{navLink.href}}" onclick={{action 'click' 'link' (concat 'Navbar - ' navlink.name)}}>
                                    {{#if (eq navLink.type 'addAPreprint')}}
                                        <span class="hidden-xs hidden-sm">
                                            {{t navLink.name}}
                                        </span>
                                        <span class="hidden-md hidden-lg hidden-xl">
                                            {{t 'eosf.navbar.add'}}
                                        </span>
                                    {{else}}
                                        {{t navLink.name}}
                                    {{/if}}
                                </a>
                            {{/nav.item}}
                        {{/if}}
                    {{/if}}
                {{/each}}
                {{#nav.item}}
                    {{new-navbar-auth-dropdown signupUrl=signupUrl loginAction=loginAction closeOtherNavigation=(action 'closeSearch')}}
                {{/nav.item}}
            {{/navbar.nav}}
        {{/navbar.content}}
    {{/bs-navbar}}

    {{#if showSearch}}
        {{!SEARCH DROPDOWN (FOR HOME SERVICE) - redirects to /search/?q=search_query}}
        {{search-dropdown action='toggleSearch'}}
    {{/if}}
</div>
