<table>
    {{#unless file.isProvider}}
        <tr>
            <td>
                Rename:
            </td>
            <td>
                {{input value=newName}}
            </td>
            <td>
                <button {{action "rename" newName}} class="btn btn-primary">
                    Rename
                </button>
            </td>
        </tr>
        <tr>
            <td colspan=2>
                Delete:
            </td>
            <td>
                <button {{action "deleteFile"}} class="btn btn-primary">
                    Delete
                </button>
            </td>
        </tr>
        <tr>
            <td>
                Move to:
            </td>
            <td>
                <div><label for={{elem-id this 'file-actions-input-move-folder'}}>{{t 'eosf.fileActions.labelInputMoveFolder'}}: {{input required=true id=(elem-id this 'file-actions-input-move-folder') value=moveTarget }}</label></div>
                <div><label for={{elem-id this 'file-actions-input-move-node'}}>{{t 'eosf.fileActions.labelInputMoveNode'}}: {{input id=(elem-id this 'file-actions-input-move-node') value=moveNode}}</label></div>
                <div><label for={{elem-id this 'file-actions-input-move-name'}}>{{t 'eosf.fileActions.labelInputMoveName'}}: {{input id=(elem-id this 'file-actions-input-move-name') value=moveName}}</label></div>
                <div>
                    <label for={{elem-id this 'file-actions-input-option-replace'}}>
                        {{t 'eosf.fileActions.labelInputOptionsReplace'}} {{input id=(elem-id this 'file-actions-input-option-replace') type="checkbox" checked=moveReplace}}
                    </label>
                </div>
                <div>
                    <label for={{elem-id this 'file-actions-input-option-copy'}}>
                        {{t 'eosf.fileActions.labelInputOptionsCopy'}} {{input id=(elem-id this 'file-actions-input-option-copy') type="checkbox" checked=moveCopy}}
                    </label>
                </div>
            </td>
            <td>
                <button {{action "moveFile" moveTarget}} class="btn btn-primary">
                    {{t 'eosf.fileActions.buttonMoveFile'}}
                </button>
            </td>
        </tr>
    {{/unless}}
    {{#if file.isFolder}}
        <tr>
            <td>
                New folder:
            </td>
            <td>
                {{input value=newFolderName}}
            </td>
            <td>
                <button {{action "addSubfolder" newFolderName}} class="btn btn-primary">
                    Add folder
                </button>
            </td>
        </tr>
        <tr>
            <td>
                Upload files:
            </td>
            <td>
                {{file-chooser files=filesToUpload}}
            </td>
            <td>
                <button {{action "uploadFiles" filesToUpload}} class="btn btn-primary">
                    Upload
                </button>
            </td>
        </tr>
    {{else}}
        <tr>
            <td colspan=2>
                Download:
            </td>
            <td>
                <button {{action "download"}} class="btn btn-primary">
                    Download
                </button>
            </td>
        </tr>
        <tr>
            <td>
                Update file contents:
            </td>
            <td colspan=2>
                {{file-chooser multiple=false
                    onChoose=(action 'updateContents')}}
            </td>
        </tr>
    {{/if}}
</table>
