<table>
    {{#unless file.isProvider}}
        <tr>
            <td>
                {{t 'components.fileActions.rename'}}: 
            </td>
            <td>
                {{input value=newName}}
            </td>
            <td>
                <button {{action "rename" newName}} class="btn btn-primary">
                    {{t 'components.fileActions.rename'}}
                </button>
            </td>
        </tr>
        <tr>
            <td colspan=2>
                {{t 'components.fileActions.delete'}}:
            </td>
            <td>
                <button {{action "deleteFile"}} class="btn btn-primary">
                    {{t 'components.fileActions.delete'}}
                </button>
            </td>
        </tr>
        <tr>
            <td>
                {{t 'components.fileActions.moveTo'}}:
            </td>
            <td>
                <div>{{t 'components.fileActions.folderID'}}: {{input value=moveTarget}}</div>
                <div>{{t 'components.fileActions.nodeID'}} ({{t 'components.fileActions.optional'}}): {{input value=moveNode}}</div>
                <div>{{t 'components.fileActions.newName'}} ({{t 'components.fileActions.optional'}}): {{input value=moveName}}</div>
                <div>
                    <label>
                        {{t 'components.fileActions.replace'}} {{input type="checkbox" checked=moveReplace}}
                    </label>
                </div>
                <div>
                    <label>
                        {{t 'components.fileActions.copy'}} {{input type="checkbox" checked=moveCopy}}
                    </label>
                </div>
            </td>
            <td>
                <button {{action "moveFile" moveTarget}} class="btn btn-primary">
                    {{t 'components.fileActions.move'}}
                </button>
            </td>
        </tr>
    {{/unless}}
    {{#if file.isFolder}}
        <tr>
            <td>
                {{t 'components.fileActions.newFolder'}}:
            </td>
            <td>
                {{input value=newFolderName}}
            </td>
            <td>
                <button {{action "addSubfolder" newFolderName}} class="btn btn-primary">
                    {{t 'components.fileActions.addFolder'}}
                </button>
            </td>
        </tr>
        <tr>
            <td>
                {{t 'components.fileActions.uploadFiles'}}:
            </td>
            <td>
                {{file-chooser files=filesToUpload}}
            </td>
            <td>
                <button {{action "uploadFiles" filesToUpload}} class="btn btn-primary">
                    {{t 'components.fileActions.upload'}}
                </button>
            </td>
        </tr>
    {{else}}
        <tr>
            <td colspan=2>
                {{t 'components.fileActions.download'}}:
            </td>
            <td>
                <button {{action "download"}} class="btn btn-primary">
                    {{t 'components.fileActions.download'}}
                </button>
            </td>
        </tr>
        <tr>
            <td>
                {{t 'components.fileActions.updateFileContents'}}:
            </td>
            <td colspan=2>
                {{file-chooser multiple=false
                    onChoose=(action 'updateContents')}}
            </td>
        </tr>
    {{/if}}
</table>
