{{!-- TODO: This template does not currently implement Comment abuse reporting functionality, #EOSF-76 --}}

<div class="comment-container">
    <div class="comment-body m-b-sm p-sm osf-box">
         <!-- div data-bind="visible: loading">
            <i class="fa fa-spinner fa-spin"></i>
         </div -->
        {{!-- TODO: Check on, and implement, loading indicator for comments --}}
        {{#unless comment.isPending}}
            {{#if isDeletedAbuse}}
                <div>
                    <span class="text-muted">
                        <em>Comment confirmed as spam.</em>
                    </span>
                    {{#if comment.hasChildren}}
                        <span class="comment-actions pull-right">
                            <span {{action 'toggleChildren'}}>
                                <i class="fa {{if showChildren 'fa-minus' 'fa-plus'}}"></i>
                            </span>
                        </span>
                    {{/if}}
                </div>
            {{/if}}
            {{#if isDeletedNotAbuse}}
                <div>
                    <span class="text-muted">
                        <em>Comment deleted.</em>
                    </span>
                    {{#if comment.hasChildren}}
                        <span class="comment-actions pull-right">
                            <span {{action 'toggleChildren'}}>
                                <i class="fa {{if showChildren 'fa-minus' 'fa-plus'}}"></i>
                            </span>
                        </span>
                    {{/if}}
                </div>
                {{#if comment.canEdit}}
                    <a {{action restoreComment comment}}>Restore</a>
                {{/if}}
            {{/if}}

            {{#if isAbuseNotDeleted}}
                <div>
                    <span class="text-muted">
                        <em>Comment reported.</em>
                    </span>
                    {{#if comment.hasChildren}}
                        <span class="comment-actions pull-right">
                            <span {{action 'toggleChildren'}}>
                                <i class="fa {{if showChildren 'fa-minus' 'fa-plus'}}"></i>
                            </span>
                        </span>
                    {{/if}}
                </div>
                {{#if comment.hasReport}}
                    {{!-- TODO: Implement this with EOSF-76 --}}
                    <a data-bind="click: submitUnreportAbuse">Not abuse</a>
                {{/if}}
            {{/if}}

            {{#if isShowingContent}}

                <div class="comment-info">
                    {{!-- TODO: Why is there a form here? --}}
                    <form class="form-inline">
                        {{#if comment.user.profileImage}}
                            <img class="comment-gravatar" src="{{comment.user.profileImage}}"/>
                        {{/if}}
                        {{#if comment.user}}
                            <a class="comment-author" href="{{comment.user.profileURL}}">{{comment.user.fullName}}</a>
                        {{/if}}
                        {{!-- TODO: Under what circumstances does this ever happen? In theory all user data should be accessible... deleted account maybe??? --}}
                        <!--<span data-bind="ifnot: author.id">-->
                            <!--<span class="comment-author" data-bind="text: author.fullname"></span>-->
                        <!--</span>-->
                        <span class="comment-date pull-right">
                            {{#if comment.modified}}
                                <a title="Modified {{moment-from-now comment.dateModified}}">*</a>
                            {{/if}}
                            {{moment-from-now comment.dateCreated}}
                            &nbsp;
                        </span>
                    </form>
                </div>

                <div class="comment-content">


                    {{#unless editMode}}
                        {{!-- TODO: The OSF spec calls for comments to be stored as markdown, then linkified and rendered frontend into HTML --}}
                        {{!-- This will be mandatory for new feature like @mentions and is not yet supported here. May need to review HTML safety for these fields. --}}
                        <span class="component-overflow">{{comment.content}}</span>
                        {{#if comment.hasChildren}}
                            <span class="comment-actions pull-right">
                                <span {{action 'toggleChildren'}}>
                                    <i class="fa {{if showChildren 'fa-minus' 'fa-plus'}}"></i>
                                </span>
                            </span>
                        {{/if}}
                    {{/unless}}


                    {{!-- TODO: support autosizetext behavior when form loads --}}
                    {{!-- TODO: Support configurable text for comment form (edit vs commenting) --}}
                    {{#if editMode}}
                        <div style="padding-top: 10px">
                            {{comment-form submitComment=(action 'editComment')
                              showButtons=true
                              initialText=comment.content
                              cancelComment=(action 'toggleEditMode')}}
                        </div>
                    {{/if}}
                </div>

                <div>
                    {{!-- TODO: Revisit error display mechanism to differentiate between validation and saving errors (do we need two fields?) --}}
                    <!--<span class="text-danger" data-bind="text: errorMessage"></span>-->

                    <span>&nbsp;</span>

                    <!-- Action bar -->
                    <div style="display: inline">

                        {{#unless editMode}}
                            <div class="comment-actions pull-right">
                                {{!- TODO: Logic convoluted- unless/else --}}
                                {{#unless comment.isHam}}
                                    {{!-- If there are no outstanding/unresolved spam reports, show a full set of buttons, including for reporting --}}
                                    {{#if comment.canEdit}}
                                        {{!-- TODO: Restyle. Avoid using spans for clickable elements for accessibility reasons --}}
                                        <span {{action 'toggleEditMode'}}><i class="fa fa-pencil"></i></span>
                                    {{/if}}

                                    {{#if canComment}}
                                        <span {{action 'toggleReplyMode'}}><i class="fa fa-reply"></i></span>
                                    {{/if}}
                                    {{#if canReport}}
                                        <span {{action reportComment comment}}>
                                            {{!-- TODO: Bare fontawesome icons are an accessibility issue. See http://fontawesome.io/accessibility/ --}}
                                            <i class="fa fa-warning"></i>
                                        </span>
                                    {{/if}}
                                    {{#if comment.canEdit}}
                                        <span {{action 'toggleDeleteMode'}}>
                                            <i class="fa fa-trash-o"></i>
                                        </span>
                                    {{/if}}
                                {{else}}
                                        {{!-- TODO: DRY this code up and avoid redundant button definitions --}}
                                    {{!-- Why don't we show the delete button for comments confirmed not spam? --}}
                                    {{#if canComment}}
                                        <span {{action 'toggleReplyMode'}}>
                                            <i class="fa fa-reply"></i>
                                        </span>
                                    {{/if}}
                                    <span>
                                        <i class="text-success fa fa-check-circle-o"></i>
                                    </span>
                                {{/unless}}
                            </div>
                        {{/unless}}
                    </div>

                </div>
                {{#if reportMode}}
                    {{!-- TODO: Implement comment abuse reporting in separate ticket, EOSF-76 --}}
                    <!--<div class="comment-report clearfix">-->
                        <!--<form class="form-inline" data-bind="submit: submitAbuse">-->
                            <!--<select class="form-control" data-bind="options: abuseOptions, optionsText: abuseLabel, value: abuseCategory"></select>-->
                            <!--<input class="form-control" data-bind="value: abuseText" placeholder="Describe abuse" />-->
                        <!--</form>-->
                        <!--<div class="pull-right m-t-xs">-->
                            <!--<a class="btn btn-default btn-sm" data-bind="click: cancelAbuse"> Cancel</a>-->
                            <!--<a class="btn btn-danger btn-sm" data-bind="click: submitAbuse"> Report</a>-->
                        <!--</div>-->
                    <!--</div>-->
                {{/if}}
                {{#if deleteMode}}
                    <div class="comment-delete clearfix m-t-xs">
                        <div class="pull-right">
                            <button class="btn btn-default btn-sm" {{action 'toggleDeleteMode'}}>Cancel</button>
                            <button class="btn btn-danger btn-sm" {{action deleteComment comment}}>Delete</button>
                        </div>
                    </div>
                {{/if}}
            {{/if}}
        {{/unless}}

    </div>

    <ul class="comment-list">

        {{#if replyMode}}

            <div style="padding-top: 10px">
                {{comment-form submitComment=(action 'replyComment') showButton=true}}
            </div>

        {{/if}}

        {{!-- TODO: Implement the fetch more functionality below --}}
        <!-- ko if: showChildren() -->
            <!-- ko template: {name:  'commentTemplate', foreach: comments} -->
            <!-- /ko -->
            <!-- ko if: urlForNext() -->
                        <!--<div class="row">-->
                            <!--<button class="btn btn-link pull-right more-replies" type="button" data-bind="click: getMoreComments">More replies</button>-->
                        <!--</div>-->
            <!-- /ko -->
        <!-- /ko -->

    </ul>

</div>