<li>
    {{#if comment.deleted}}
        <div>Comment deleted</div>
    {{else}}
    <div>
        <label>
            {{comment.dateCreated}}:
            {{input value=comment.content}}
        </label>
        <button {{action "editComment" comment}} class="btn btn-success"> Edit</button>
        <button {{action "deleteComment" comment}} class="btn btn-danger"> Delete</button>
    </div>
    {{/if}}
</li>
{{yield}}
