{{!Component builds DISCOVER PAGE - Blend of Ember-SHARE and Preprints Discover pages}}
<div class="search-header">
    <div class="container">
        <div class="row m-v-md"> {{!LOGO}}
            <div class="col-xs-12 text-center">
                {{#if theme.isProvider}} {{!Provider Logo, if exists}}
                    <div class="col-xs-6 text-right">
                        <div class="provider-brand" style="height: 140px; background-position-x: right;"></div>
                    </div>
                {{/if}}
                <div class={{if theme.isProvider 'col-xs-6 text-left'}}>
                    <h1> {{discoverHeader}} </h1> {{!Discover Page Header text}}
                    {{!POWERED BY SHARE}}
                    <p class="lead">{{poweredBy}} <a href="https://share.osf.io/" class="share-logo" title="SHARE"></a></p>
                </div>
            </div>
        </div>

        <div class="row m-t-md m-b-lg text-center"> {{!SEARCH}}
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="input-group input-group-lg"> {{!SEARCH BAR}}
                    {{input id="searchBox" value=q class="form-control" key-up='typing' placeholder=searchPlaceholder}}
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"> {{searchButton}} </button>
                    </span>
                </div>
            </div>
        </div>

        {{!CAROUSEL WITH PREPRINT PROVIDERS - PREPRINTS ONLY}}
        {{#if (eq consumingService 'preprints')}}
            <div class="row m-v-md">
                <div class="col-xs-10 col-xs-offset-1" style="text-align: center;">
                    {{#if (not theme.isProvider)}}
                        <h3>Partner Repositories</h3>
                        <div class="row">
                            {{provider-carousel
                                providers=providers
                                lightLogo=false
                            }}
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/if}}

        <div class="row p-v-sm">
            {{#if (not showActiveFilters)}}
                <div class="col-xs-6">
                    {{!Clear filters button, if activeFilters are not displayed}}
                    <button {{action 'clearFilters'}} class='btn btn-default clear-filters'>
                        {{clearFiltersButton}}
                    </button>
                </div>
            {{/if}}

            <div class="col-sm-6 pull-right">
                <div class="dropdown pull-right">
                    {{!Sort by button}}
                    <button class="btn btn-default dropdown-toggle" type="button" id="sortBy" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                        Sort by: {{sort-option-display sortOptions sort}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu text-right" aria-labelledby="sortBy">
                        {{#each sortOptions as |sortChoice|}}
                            <li style="cursor: pointer; cursor: hand"><a {{action "selectSortOption" sortChoice.sortBy}}>{{sortChoice.display}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="search-main p-v-xl">
    <div class="container">
        <div class="row search-results-section">
            <div class="col-sm-4 col-xs-12 search-sidebar"> {{!LEFT PANEL - FILTER}}
                {{! Active Filters}}
                {{#if showActiveFilters}}
                    <div id="activeFilters" class="well well-sm p-md m-t-sm">
                        <div class="row">
                            <div class="col-sm-6">
                                <h4>{{t "eosf.components.emberShareSearch.activeFilters.heading"}}:</h4>
                            </div>
                            <div class="col-sm-6">
                                <span class="pull-right">
                                    {{!Clear filters button}}
                                    <button type="button" class="btn btn-default btn-sm" {{action "clearFilters"}}>{{t "eosf.components.emberShareSearch.activeFilters.button"}} {{fa-icon "remove"}}</button>
                                </span>
                            </div>
                        </div>
                        <div id="activeFiltersList">
                            {{#each activeFilters.providers as |filter|}}
                                <span class='preprint-filter provider-filter'>
                                    {{filter-replace filter}}
                                    {{#unless theme.isProvider}}
                                        {{!Active provider filters}}
                                        <span class='pointer'>{{fa-icon 'times-circle' click=(action 'updateFilters' 'providers' filter)}}</span>
                                    {{/unless}}
                                </span>
                            {{/each}}
                            {{#each activeFilters.subjects as |filter|}}
                                {{!Active subject filters}}
                                <span class='preprint-filter subject-filter'>{{filter}} <span class='pointer'>{{fa-icon 'times-circle' click=(action 'updateFilters' 'subjects' filter)}}</span></span>
                            {{/each}}
                        </div>
                    </div>
                {{/if}}

                {{!Search facets}}
                {{faceted-search
                    onChange='filtersChanged'
                    updateParams='updateParams'
                    filters=facetFilters
                    facetStates=facetStates
                    facets=facets
                    aggregations=aggregations
                    activeFilters=activeFilters
                    updateFilters=(action 'updateFilters')
                }}

                {{!Button asking if user wants to add preprint - Preprints Only }}
                {{#if (eq consumingService 'preprints')}}
                    {{add-preprint-box}}
                {{/if}}

            </div>

            <div class="col-sm-8 col-xs-12">  {{!RIGHT PANEL - SEARCH RESULTS}}
                {{#if loading}}
                    <div class="text-center p-v-md">
                        {{fa-icon 'spinner' pulse=true size=3}}
                    </div>
                {{else if noResultsMessage}}
                    <div class="text-center no-results">{{noResultsMessage}}</div>
                {{else}}
                    <div class="results-top">
                        {{#each results as |result|}}
                            {{search-result detailRoute=detailRoute filterReplace=filterReplace addFilter='addFilter' updateFilters=(action 'updateFilters') result=result}}
                        {{/each}}
                    </div>
                    <div class="pull-right text-right">
                        {{pagination-pager count=clampedPages current=page change=(action 'setLoadPage')}}
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
