{{!Component builds DISCOVER PAGE - Blend of Ember-SHARE, Preprints, and Registries Discover pages}}
<div class="search-header">
    <div class="container">
        <div class="row m-v-md"> {{!BRANDING}}
            <div class="col-xs-12 text-center">
                {{#if (or theme.isProvider providerLogo)}} {{!Provider Logo, if exists}}
                    <div class="col-xs-6 text-right">
                        <div class="provider-brand" style="height: 140px; background-position-x: right;"></div>
                    </div>
                {{/if}}
                <div class={{if (or theme.isProvider providerLogo) 'col-xs-6 text-left'}}>
                    {{#if (eq consumingService 'registries')}} {{!REGISTRIES LOGO - REGISTRIES ONLY}}
                        <div class="registries-brand m-t-lg"></div>
                        <p class="lead">
                            <span> {{discoverHeader}} </span>
                        </p>
                    {{else}}
                        <h1> {{discoverHeader}} </h1> {{!Discover Page Header text}}
                         {{!POWERED BY SHARE}}
                        <p class="lead">{{poweredBy}} <a href="https://share.osf.io/" class="share-logo" title="SHARE"></a></p>
                    {{/if}}
                </div>
            </div>
        </div>

        <div class="row m-t-md m-b-lg text-center"> {{!SEARCH}}
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="input-group input-group-lg"> {{!SEARCH BAR}}
                    {{input id="searchBox" value=q class="form-control" key-up='typing' placeholder=searchPlaceholder}}
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"> {{searchButton}} </button>
                    </span>
                </div>
                {{!NUMBER OF SEARCHABLE RESULTS}}
                {{total-share-results shareTotal=shareTotal shareTotalText=shareTotalText}}
            </div>
        </div>

        {{!CAROUSEL WITH PREPRINT PROVIDERS - PREPRINTS ONLY}}
        {{#if (eq consumingService 'preprints')}}
            <div class="row m-v-md">
                <div class="col-xs-10 col-xs-offset-1" style="text-align: center;">
                    {{#if (not theme.isProvider)}}
                        <h3>{{t 'eosf.components.discoverPage.partnerRepositories'}}</h3>
                        <div class="row">
                            {{provider-carousel
                                providers=fetchedProviders
                                lightLogo=false
                            }}
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/if}}

        <div class="row p-v-sm">
            {{#if (not showActiveFilters)}}
                <div class="col-xs-6">
                    {{!CLEAR FILTERS BUTTON - ONLY IF ACTIVE FILTERS NOT SHOWN}}
                    <button {{action 'clearFilters'}} class='btn btn-default clear-filters'>
                        {{clearFiltersButton}}
                    </button>
                </div>
            {{/if}}

            <div class="col-sm-6 pull-right">
                <div class="dropdown pull-right">
                    {{!SORT BY BUTTON}}
                    <button class="btn btn-default dropdown-toggle" type="button" id="sortBy" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                        {{t 'eosf.components.discoverPage.sortBy'}}: {{sort-option-display sortOptions sort}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu text-right" aria-labelledby="sortBy">
                        {{#each sortOptions as |sortChoice|}}
                            <li style="cursor: pointer; cursor: hand"><a {{action "selectSortOption" sortChoice.sortBy}}>{{sortChoice.display}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="search-main p-v-xl">
    <div class="container">
        <div class="row search-results-section">
            <div class="col-sm-4 col-xs-12 search-sidebar"> {{!LEFT PANEL - SEARCH FACETS}}
                {{! ACTIVE FILTERS - FOR PREPRINTS, REGISTRIES}}
                {{#if showActiveFilters}}
                    <div id="activeFilters" class="well well-sm p-md">
                        <div class="row">
                            <div class="col-sm-6">
                                <h4>{{t "eosf.components.discoverPage.activeFilters.heading"}}:</h4>
                            </div>
                            <div class="col-sm-6">
                                <span class="pull-right">
                                    {{!CLEAR FILTERS BUTTON}}
                                    <button type="button" class="btn btn-default btn-sm" {{action "clearFilters"}}>{{clearFiltersButton}} {{fa-icon "remove"}}</button>
                                </span>
                            </div>
                        </div>
                        <div id="activeFiltersList">
                            {{#each activeFilters.providers as |filter|}}
                                <span class='preprint-filter provider-filter'>
                                    {{filter-replace filter}}
                                    {{#unless theme.isProvider}}
                                        {{!ACTIVE PROVIDER FILTERS}}
                                        <span class='pointer'>{{fa-icon 'times-circle' click=(action 'updateFilters' 'providers' filter)}}</span>
                                    {{/unless}}
                                </span>
                            {{/each}}
                            {{#each activeFilters.subjects as |filter|}}
                                {{!ACTIVE SUBJECT FILTERS}}
                                <span class='preprint-filter subject-filter'>{{filter}} <span class='pointer'>{{fa-icon 'times-circle' click=(action 'updateFilters' 'subjects' filter)}}</span></span>
                            {{/each}}
                            {{!ACTIVE TYPE FILTERS}}
                            {{#each activeFilters.types as |filter|}}
                                <span class='preprint-filter type-filter'>{{filter}} <span class='pointer'>{{fa-icon 'times-circle' click=(action 'updateFilters' 'types' filter)}}</span></span>
                            {{/each}}
                        </div>
                    </div>
                {{/if}}

                {{!SEARCH FACETS}}
                {{#if showActiveFilters}}
                    <h4> {{t 'eosf.components.discoverPage.refineSearch'}} </h4>
                {{/if}}
                {{faceted-search
                    onChange='filtersChanged'
                    updateParams='updateParams'
                    filters=facetFilters
                    facetStates=facetStates
                    facets=facets
                    aggregations=aggregations
                    activeFilters=activeFilters
                    updateFilters=(action 'updateFilters')
                    filterReplace=filterReplace
                }}

                {{!ADD PREPRINT BUTTON - Preprints Only }}
                {{#if (eq consumingService 'preprints')}}
                    {{add-preprint-box}}
                {{/if}}

            </div>

            <div class="col-sm-8 col-xs-12">  {{!RIGHT PANEL - SEARCH RESULTS}}
                {{#if loading}}
                    <div class="text-center p-v-md">
                        {{fa-icon 'spinner' pulse=true size=3}}
                    </div>
                {{else if noResultsMessage}}
                    <div class="text-muted text-center">
                        <p class="lead ">{{t "eosf.components.discoverPage.noResultsFound"}}</p>
                        <p>{{noResultsMessage}}</p>
                    </div>
                {{else}}
                    <div class="results-top">
                        {{#each results as |result|}}
                            {{search-result queryParams=queryParams detailRoute=detailRoute filterReplace=filterReplace addFilter='addFilter' updateFilters=(action 'updateFilters') result=result}}
                        {{/each}}
                    </div>
                    <div class="pull-right text-right">
                        {{pagination-pager count=clampedPages current=page change=(action 'setLoadPage')}}
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
