{{!Component builds DISCOVER PAGE - Blend of Ember-SHARE, Preprints, and Registries Discover pages}}
<div class="search-header">
    <div class="container">
        {{!BRANDING}}
        <div class="row m-v-md">
            <div class="col-xs-12 text-center">
                {{!Provider Logo, if exists}}
                {{#if (or theme.isProvider providerLogo)}}
                    <div class="col-xs-6 text-right">
                        <div class="provider-brand" id="provider-brand-background"></div>
                    </div>
                {{/if}}
                <div class={{if (or theme.isProvider providerLogo) 'col-xs-6 text-left'}}>
                    {{!REGISTRIES ONLY}}
                    <div class="registries-brand m-t-lg"></div>
                    {{!Discover Page Header text}}
                    {{#if discoverHeader}}
                        <h1> {{t discoverHeader documentType=themeProvider.documentType}} </h1>
                    {{/if}}
                    {{!POWERED BY SHARE}}
                    <p class="lead">
                        {{t 'eosf.components.discoverPage.poweredBy'}}
                        <a href="https://share.osf.io/" id='share-logo' class="share-logo" title={{t 'eosf.components.discoverPage.share'}} onclick={{action "click" "link" "Discover - SHARE Logo"}}></a>
                    </p>
                </div>
            </div>
        </div>

        {{!SEARCH}}
        <div class="row m-t-md m-b-lg text-center">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                {{!SEARCH BAR}}
                <div class="input-group input-group-lg">
                    <span class="searchBoxOverride">
                        {{input
                            (html-attributes aria-label='Search')
                            id="searchBox"
                            value=q
                            class="form-control"
                            enter="search"
                            placeholder=(t
                                (or searchPlaceholder 'eosf.components.discoverPage.searchPlaceholder')
                                documentType=themeProvider.documentType
                            )
                        }}
                    </span>
                    <span class="input-group-btn">
                        {{!HELP BUTTON}}
                        <button class="btn btn-default" type="button" aria-label={{t 'eosf.components.discoverPage.luceneHelp'}} {{action 'toggleShowLuceneHelp'}}>
                            <i class="fa fa-question text-muted"></i>
                        </button>
                        {{!SEARCH BUTTON}}
                        <button class="btn btn-default" type="button" {{action 'search'}}>
                            {{t 'eosf.components.discoverPage.search'}}
                        </button>
                    </span>
                </div>
                {{!Lucene search help modal}}
                {{search-help-modal isOpen=showLuceneHelp}}

                {{!NUMBER OF SEARCHABLE RESULTS}}
                {{#if (not theme.isProvider)}}
                    {{total-share-results}}
                {{/if}}
            </div>
        </div>

        {{!CAROUSEL WITH PREPRINT PROVIDERS - PREPRINTS ONLY}}
        {{#if (eq hostAppName 'Preprints')}}
            <div class="row m-t-xs m-b-md">
                <div class="col-xs-10 col-xs-offset-1 text-center">
                    {{#if (not theme.isProvider)}}
                        <h3>{{t 'eosf.components.discoverPage.partnerRepositories'}}</h3>
                        <div class="row">
                            {{provider-carousel
                                itemsPerSlide=5
                                providers=fetchedProviders
                                lightLogo=false
                            }}
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/if}}

        <div class="row p-v-sm">
            {{#if (not showActiveFilters)}}
                <div class="col-xs-6">
                    {{!CLEAR FILTERS BUTTON - ONLY IF ACTIVE FILTERS NOT SHOWN}}
                    <button {{action 'clearFilters'}} class='btn btn-default clear-filters'>
                        {{t 'eosf.components.discoverPage.activeFilters.button'}}
                    </button>
                </div>
            {{/if}}

            <div class="col-sm-6 pull-right">
                <div class="dropdown pull-right">
                    {{!SORT BY BUTTON}}
                    <button class="btn btn-default dropdown-toggle" type="button" id="sortBy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{t 'eosf.components.discoverPage.sortBy'}}: {{sort-option-display sortOptions sort}}
                        <span class="caret">
                        </span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" id="sortByOptionList" aria-labelledby="sortBy">
                        {{#each sortOptions as |sortChoice|}}
                            <li>
                                <button class="btn btn-link listOption" {{action "selectSortOption" sortChoice.sortBy}}>
                                    {{sortChoice.display}}
                                </button>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="search-main results-top">
    <div class="container p-v-xl">
        <div class="row search-results-section">
            {{!LEFT PANEL - SEARCH FACETS}}
            <div class="col-sm-4 col-xs-12 search-sidebar">
                {{! ACTIVE FILTERS - FOR PREPRINTS, REGISTRIES}}
                {{#if showActiveFilters}}
                    <div id="activeFilters" class="well well-sm p-md">
                        <div class="row">
                            <div class="col-sm-6">
                                <h4>{{t "eosf.components.discoverPage.activeFilters.heading"}}:</h4>
                            </div>
                            <div class="col-sm-6">
                                <span class="pull-right">
                                    {{!CLEAR FILTERS BUTTON}}
                                    <button type="button" class="btn btn-default btn-sm" {{action "clearFilters"}}>
                                        {{t 'eosf.components.discoverPage.activeFilters.button'}}
                                        {{fa-icon "remove"}}
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div id="activeFiltersList">
                            {{#each queryParamsState.provider.value as |filter|}}
                                <span class='preprint-filter provider-filter'>
                                    {{filter-replace filter filterReplace}}
                                    {{#unless theme.isProvider}}
                                        {{!ACTIVE PROVIDER FILTERS}}
                                        <span class='removeActiveFilter' aria-label={{t 'eosf.components.discoverPage.removeProvider'}}>
                                            {{fa-icon 'times-circle'
                                                ariaHidden=false
                                                tagName='button'
                                                click=(action 'updateFilters' 'provider' filter)
                                            }}
                                        </span>
                                    {{/unless}}
                                </span>
                            {{/each}}
                            {{#each queryParamsState.subject.value as |filter|}}
                                {{!ACTIVE SUBJECT FILTERS}}
                                <span class='preprint-filter subject-filter'>
                                    {{custom-taxonomy-filter filter}}
                                    <span class='removeActiveFilter' aria-label={{t 'eosf.components.discoverPage.removeSubject'}}>
                                        {{fa-icon 'times-circle'
                                            ariaHidden=false
                                            tagName='button'
                                            click=(action 'updateFilters' 'subject' filter)
                                        }}
                                    </span>
                                </span>
                            {{/each}}
                            {{!ACTIVE TYPE FILTERS}}
                            {{#each queryParamsState.type.value as |filter|}}
                                <span class='preprint-filter type-filter'>
                                    {{filter}}
                                    <span class='removeActiveFilter' aria-label={{t 'eosf.components.discoverPage.removeRegistrationType'}}>
                                        {{fa-icon
                                            'times-circle'
                                            ariaHidden=false
                                            tagName='button'
                                            click=(action 'updateFilters' 'type' filter)
                                        }}
                                    </span>
                                </span>
                            {{/each}}
                        </div>
                    </div>
                {{/if}}

                {{!SEARCH FACETS}}
                {{#if showActiveFilters}}
                    <h4>{{t 'eosf.components.discoverPage.refineSearch'}}</h4>
                {{/if}}
                {{#if getTypes.isIdle}}
                    {{faceted-search
                        updateParams=(action 'updateParams')
                        filters=facetFilters
                        facetStates=queryParamsState
                        facets=facets
                        whiteListedProviders=whiteListedProviders
                        aggregations=aggregations
                        updateFilters=(action 'updateFilters')
                        filterReplace=filterReplace
                        loading=loading
                    }}
                {{/if}}

                {{!ADD PREPRINT BUTTON - Preprints Only }}
                {{#if (and (eq hostAppName 'Preprints') themeProvider.allowSubmissions)}}
                    {{add-preprint-box provider=themeProvider}}
                {{/if}}

            </div>

            {{!RIGHT PANEL - SEARCH RESULTS}}
            <div class="col-sm-8 col-xs-12">
                {{#if loading}}
                    <div class="text-center p-v-md" aria-label={{t 'eosf.components.discoverPage.searchLoading'}}>
                        <div class="ball-scale ball-dark">
                            <div></div>
                        </div>
                    </div>
                {{else}}
                    {{#if numberOfResults}}
                        {{#each results as |result|}}
                            {{search-result
                                themeProvider=themeProvider
                                queryParamsState=queryParamsState
                                detailRoute=detailRoute
                                filterReplace=filterReplace
                                updateFilters=(action 'updateFilters')
                                result=result
                                currentService=currentService
                                domainRedirectProviders=domainRedirectProviders
                            }}
                        {{/each}}
                        <div class="pull-right text-right">
                            {{pagination-pager
                                count=clampedPages
                                current=page
                                change=(action 'selectPage')
                            }}
                        </div>
                    {{else if queryError}}
                        {{query-syntax message=queryError}}
                    {{else if shareDown}}
                        <div class="text-muted text-center">
                            <p class="lead ">
                                {{t 'eosf.components.discoverPage.shareUnavailable'}}
                            </p>
                            <p>
                                {{t 'eosf.components.discoverPage.shareUnavailableDescription'}}
                            </p>
                        </div>
                    {{else}}
                        {{!NO RESULTS FOUND}}
                        <div class="text-muted text-center">
                            <p class="lead ">
                                {{t "eosf.components.discoverPage.noResultsFound"}}
                            </p>
                            <p>{{t 'eosf.components.discoverPage.broadenSearch'}}</p>
                        </div>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
</div>
