<div class="files-tree">
    {{#if root.isProvider}}
        {{link-to root.name 'nodes.detail.files.provider' node root}}
    {{else}}
        {{link-to root.name 'nodes.detail.files.provider.file'
            node root.provider root}}
    {{/if}}
    {{#if root.isFolder}}
        <ul class="folder-list">
            {{#each root.files as |file|}}
                <li>
                    {{files-tree root=file node=node}}
                </li>
            {{else}}
                <li>(empty folder)</li>
            {{/each}}
        </ul>
    {{/if}}
</div>
