<p class="files-tree">
    <label>{{model.name}}</label>
    {{#if model.isFolder}}
        ({{link-to 'folder details' 'file' model}})
        <ul class="folder-list">
            {{#each model.files as |file|}}
                <li>
                {{file.name}}
                ({{#link-to 'file' file}}{{file.kind}} details{{/link-to}})
                </li>
            {{else}}
                <li>(empty)</li>
            {{/each}}
        </ul>
    {{else}}
        ({{link-to 'file details' 'file' model}})
    {{/if}}
</p>
