{{outlet}}

<h2> Draft Registrations </h2>

{{link-to 'View Registrations' 'nodes.detail.registrations' model.node class='btn btn-primary'}}
{{link-to 'Back to node' 'nodes.detail' model.node class='btn btn-primary'}}

<hr>

{{#each model.drafts as |draft|}}
    <h3> {{draft.registrationSchema.name}} </h3>
    <p> Initiated by: {{draft.initiator.fullName}}</p>
    <p> Started: {{moment-format draft.datetimeInitiated}} </p>
    <p> Last Updated: {{moment-format draft.datetimeUpdated}} </p>

    {{#unless draft.requiresApproval}}
        <button type="button" class="btn btn-success btn-sm">
            Register
        </button>
    {{/unless}}

    <button type="button" class="btn btn-info btn-sm">
        <i class="glyphicon glyphicon-pencil"></i>  Edit
    </button>

    <button type="button" class="btn btn-danger btn-sm">
        <i class="glyphicon glyphicon-remove"></i>  Delete
    </button>
    <hr>
{{/each}}
