{{eosf-project-nav node=model user=user}}

{{#if model.parent}}
    {{#link-to 'nodes.detail' model.parent class="btn btn-primary"}}
        {{t 'nodes.detail.index.arrow'}} {{model.parent.title}}
    {{/link-to}}
{{/if}}
{{link-to 'Back to list' 'nodes' class="btn btn-default"}}
<div class="panel">
    <h2>{{t 'nodes.detail.index.data'}}</h2>
    <p><label>{{t 'nodes.detail.index.title'}}:</label> {{model.title}}</p>
    <p><label>{{t 'nodes.detail.index.description'}}: </label> {{model.description}}</p>
    <p><label>{{t 'nodes.detail.index.category'}}:</label> {{model.category}}</p>
    <p><label>{{t 'nodes.detail.index.dateCreated'}}:</label> {{moment-format model.dateCreated}}</p>
    <p><label>{{t 'nodes.detail.index.dateModified'}}:</label> {{moment-format model.dateModified}}</p>
    <p><label>{{t 'nodes.detail.index.public'}}: </label> {{model.public}} </p>
    <p><label>{{t 'nodes.detail.index.fork'}}: </label> {{model.fork}} </p>
    {{#if model.fork}}
        <p><label>{{t 'nodes.detail.index.forkedFrom'}}: </label> {{link-to model.forkedFrom.title 'nodes.detail' model.forkedFrom}}</p>
        <p><label>{{t 'nodes.detail.index.forkedOn'}}:</label> {{moment-format model.forkedDate}}</p>
    {{/if}}
    <p><label> {{t 'nodes.detail.index.tags'}} </label></p>
    {{tags-widget addATag=(action 'addATag' model) removeATag=(action 'removeATag' model) tags=model.tags}}
    <p><label>{{t 'nodes.detail.index.preprints'}}</label></p>
    <ul>
        {{#each model.preprints as |prep|}}
            <li><a href='{{host}}{{prep.id}}/'>{{prep.node.title}} ({{t 'nodes.detail.index.preprint'}})</a></li>
        {{/each}}
    </ul>
    <hr>

    <p><label> {{t 'nodes.detail.index.license'}} </label></p>
    {{#if licenseToggle}}
        {{license-picker showCategories=true toggleText=false currentValues=serializedLicense editLicense=(action 'editLicense') allowDismiss=true dismiss=(action 'toggleLicense')}}
    {{else}}
        <a href='#' {{action 'toggleLicense'}}>{{t 'nodes.detail.index.editLicense'}}</a>
    {{/if}}
    <hr>
    <p>
        <a href="{{model.links.html}}" target="_blank" rel="noopener" class="btn btn-primary">
            {{t 'nodes.detail.index.viewOnOSF'}}
        </a>
    </p>

    <p><button class="btn btn-danger" {{action 'deleteNode'}}>{{t 'nodes.detail.index.deleteProject'}}</button></p>
    <hr>
    {{#if propertiesVisible}}
        <button {{action 'toggleEditNode'}}> {{t 'nodes.detail.index.closeNodeSettings'}} </button>
        <table>
            <tr>
                <td><label> {{t 'nodes.detail.index.title'}}: </label></td>
                <td>{{input value=editedTitle}}</td>
            </tr>
            <tr>
                <td><label> {{t 'nodes.detail.index.description'}}: </label></td>
                <td>{{input value=editedDescription}} </td>
            </tr>
        </table>
        <p><label> {{t 'nodes.detail.index.category'}}: </label></p>
        <div>
            <p>{{radio-button name="category" value="analysis" checked=editedCategory}} {{t 'nodes.detail.index.analysis'}} </p>
            <p>{{radio-button name="category" value="communication" checked=editedCategory}} {{t 'nodes.detail.index.communication'}} </p>
            <p>{{radio-button name="category" value="data" checked=editedCategory}} {{t 'nodes.detail.index.data'}} </p>
            <p>{{radio-button name="category" value="hypothesis" checked=editedCategory}} {{t 'nodes.detail.index.hypothesis'}} </p>
            <p>{{radio-button name="category" value="instrumentation" checked=editedCategory}} {{t 'nodes.detail.index.instrumentation'}} </p>
            <p>{{radio-button name="category" value="methods and measures" checked=editedCategory}} {{t 'nodes.detail.index.methodsAndMeasures'}} </p>
            <p>{{radio-button name="category" value="procedure" checked=editedCategory}} {{t 'nodes.detail.index.procedure'}} </p>
            <p>{{radio-button name="category" value="project" checked=editedCategory}} {{t 'nodes.detail.index.project'}} </p>
            <p>{{radio-button name="category" value="software" checked=editedCategory}} {{t 'nodes.detail.index.software'}}</p>
            <p>{{radio-button name="category" value="other" checked=editedCategory}} {{t 'nodes.detail.index.other'}} </p>
            <p>{{radio-button name="category" value="uncategorized" checked=editedCategory}} {{t 'nodes.detail.index.uncategorized'}} </p>
        </div>
        <p><label> {{t 'nodes.detail.index.privacySettings'}} </label></p>
        {{radio-button name="isPublic" value=1 checked=isPublic}} {{t 'nodes.detail.index.public'}}
        {{radio-button name="isPublic" value=0 checked=isPublic}} {{t 'nodes.detail.index.private'}}

        <button disabled={{isSaving}} {{action 'updateNode' editedTitle editedDescription editedCategory isPublic}} class="btn btn-primary"> {{t 'nodes.detail.index.saveChanges'}} </button>
    {{else}}
        <button {{action 'toggleEditNode'}}> {{t 'nodes.detail.index.editNodeSettings'}} </button>
    {{/if}}
    <hr>
    <h2>{{t 'nodes.detail.index.registrations'}}</h2>
    {{link-to 'View Registrations' 'nodes.detail.registrations' model class='btn btn-primary'}}
    <hr>
    <h2>{{t 'nodes.detail.index.affiliatedInstitutions'}}</h2>
    <p>
        <table class="table">
            {{#each model.affiliatedInstitutions as |inst|}}
                <tr>
                    <td>
                        {{inst.name}}
                    </td>
                    <td>
                        <button {{action 'unaffiliateNode' inst}}>{{t 'nodes.detail.index.unaffiliate'}}</button>
                    </td>
                </tr>
            {{/each}}
        </table>
        <h4>{{t 'nodes.detail.index.addInstitution'}}</h4> {{t 'nodes.detail.index.institutionID'}} {{input value=instId}}
        <button {{action 'affiliateNode' instId}} class="btn btn-primary">{{t 'nodes.detail.index.affiliateNode'}}</button>
    </p>
    <h2>{{t 'nodes.detail.index.files'}}</h2>
    {{link-to 'View Files' 'nodes.detail.files' model class='btn btn-primary'}}
    <hr>

    {{log-detail node-logs=model.logs}}

    <h2>{{t 'nodes.detail.index.contributors'}}</h2> {{contrib-manager contributors=model.contributors addContributor=(action 'addContributor') removeContributor=(action 'removeContributor') editContributors=(action 'updateContributors') }}


    <hr>
    <h2>{{t 'nodes.detail.index.components'}}</h2>
    <ul>
        {{#each model.children as |child|}}
            <li>{{link-to child.title 'nodes.detail' child}}</li>
        {{/each}}
    </ul>
    <h3> {{t 'nodes.detail.index.createComponent'}} </h3>
    <div>
        <label>{{t 'nodes.detail.index.title'}}:</label> {{input type="text" value=title placeholder="Component's title" required=true}}
        <label>{{t 'nodes.detail.index.description'}} ({{t 'nodes.detail.index.optional'}}):</label> {{input type="text" value=description placeholder="Component's description"}}
        <p><label>{{t 'nodes.detail.index.category'}} ({{t 'nodes.detail.index.optional'}}):</label></p>
        <p>{{radio-button name="category" value="analysis" checked=category}} {{t 'nodes.detail.index.analysis'}} </p>
        <p>{{radio-button name="category" value="communication" checked=category}} {{t 'nodes.detail.index.communication'}} </p>
        <p>{{radio-button name="category" value="data" checked=category}} {{t 'nodes.detail.index.data'}} </p>
        <p>{{radio-button name="category" value="hypothesis" checked=category}} {{t 'nodes.detail.index.hypothesis'}} </p>
        <p>{{radio-button name="category" value="instrumentation" checked=category}} {{t 'nodes.detail.index.instrumentation'}} </p>
        <p>{{radio-button name="category" value="methods and measures" checked=category}} {{t 'nodes.detail.index.methodsAndMeasures'}} </p>
        <p>{{radio-button name="category" value="procedure" checked=category}} {{t 'nodes.detail.index.procedure'}} </p>
        <p>{{radio-button name="category" value="project" checked=category}} {{t 'nodes.detail.index.project'}} </p>
        <p>{{radio-button name="category" value="software" checked=category}} {{t 'nodes.detail.index.software'}} </p>
        <p>{{radio-button name="category" value="other" checked=category}} {{t 'nodes.detail.index.other'}} </p>
        <p>{{radio-button name="category" value="uncategorized" checked=category}} {{t 'nodes.detail.index.uncategorized'}} </p>
        <p><button {{action "addChild" title description category }}>{{t 'nodes.detail.index.create'}}</button></p>
    </div>
    <hr>

    <h2>{{t 'nodes.detail.index.linkedNodes'}} ({{t 'nodes.detail.index.apiDeprecationMessage'}}). </h2>
    <table class="table">
        {{#if model.linkedNodes}}
            <tr>
                <th> {{t 'nodes.detail.index.id'}} </th>
                <th> {{t 'nodes.detail.index.name'}} </th>
                <th> </th>
            </tr>
            {{#each model.linkedNodes as |node|}}
                <tr>
                    <td> {{node.id}} </td>
                    <td> {{link-to node.title 'nodes.detail' node.id}} </td>
                    <td> <button {{action "removeNodeLink" node}} class="btn btn-danger"> {{t 'nodes.detail.index.remove'}} </button> </td>
                </tr>
            {{/each}}
        {{/if}}
    </table>
    <hr>
    <h3>{{t 'nodes.detail.index.addLinkedNodeRelationship'}}</h3>
    <label> {{t 'nodes.detail.index.targetNodeID'}} </label> {{input value=targetNodeId}}
    <button {{action "addNodeLink" targetNodeId}} class="btn btn-primary">{{t 'nodes.detail.index.add'}}</button>

    <hr>
    <h2> {{t 'nodes.detail.index.forks'}} </h2>
    <ul>
        {{#each model.forks as |forke|}}
            <li>{{link-to forke.title 'nodes.detail' forke}}</li>
        {{/each}}
    </ul>
    <hr>
    <h2>{{link-to 'Wikis' 'nodes.detail.wikis' model}}</h2>
    <hr>

    {{comment-pane
    comments=comments
    addComment=(action 'addComment')
    editComment=(action 'editComment')
    deleteComment=(action 'deleteComment')
    restoreComment=(action 'restoreComment')
    reportComment=(action 'reportComment')}}

    <br>
    <label> {{t 'nodes.detail.index.citation'}} </label>
    <br>
    {{citation-widget node=model}}

</div>

{{outlet}}
