{{link-to 'Back to list' 'nodes' class="btn btn-default"}}
<div class="panel"> 
    <h2>Data</h2>
    <p><label>Title:</label> {{model.title}}</p>
    <p><label>Category:</label> {{model.category}}</p>
    <p><label>Date Created:</label> {{moment-format model.dateCreated}}</p>
    <p><label>Date Modified:</label> {{moment-format model.dateModified}}</p>
    <p>
        <a href="{{model.links.html}}" target="_blank" class="btn btn-primary">
            View on OSF
        </a>
    </p>
    <hr>
    <h2>Edit this node</h2>
    Title: {{input value=editedTitle}}
    <button {{action "editExisting" editedTitle}} class="btn btn-primary">Edit record</button>  
    <h2>Contributors</h2>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Author?</th>
        </tr>
        {{#each model.contributors as |contrib|}}
            <tr>
                <td>{{contrib.id}}</td>
                <td>{{contrib.bibliographic}}</td>
            </tr>
        {{/each}}
    </table>  
    <label>Affiliated Institutions</label>
    <p>
        <table class="table">
            {{#each model.affiliatedInstitutions as |inst|}}
                <tr>
                    {{inst.name}}
                </tr>
            {{/each}}
        </table>
    </p>
    <h2>Files</h2>
    {{link-to 'View Files' 'nodes.detail.files' model class='btn btn-primary'}}
    <hr>    
    {{log-detail node-logs=model.logs}}
</div>
{{link-to 'Back to list' 'nodes' class="btn btn-default"}}
<div class="panel">
    <h2>Data</h2>
    <p><label>Title:</label> {{model.title}}</p>
    <p><label>Category:</label> {{model.category}}</p>
    <p><label>Date Created:</label> {{moment-format model.dateCreated}}</p>
    <p><label>Date Modified:</label> {{moment-format model.dateModified}}</p>
    <p>
        <a href="{{model.links.html}}" target="_blank" class="btn btn-primary">
            View on OSF
        </a>
    </p>
    <hr>
    <h2>Edit this node</h2>
    Title: {{input value=editedTitle}}
    <button {{action "editExisting" editedTitle}} class="btn btn-primary">Edit record</button>
    <h2>Contributors</h2>
    <button {{action "updateContributors" editedPermissions editedBibliographic}} class="btn btn-primary"> Save changes </button>
    <hr>
    <h2> Add contributor </h2>
    <p><label> User ID </label> {{input value=contributorID}} </p>
    <p><label> Permissions </label></p>
    <p>
        {{radio-button name="permission" value="read" checked=contributorPermissions}} Read {{radio-button name="permission" value="write" checked=contributorPermissions}} Read + Write {{radio-button name="permission" value="admin" checked=contributorPermissions}} Administrator
    </p>

    <label> Bibliographic </label>
    <p>
        {{radio-button name="bibliographic" value=1 checked=bibliographic}} Bibliographic {{radio-button name="bibliographic" value=0 checked=bibliographic}} Non-Bibliographic
    </p>
    <button {{action "addContributor" contributorID contributorPermissions bibliographic}} class="btn btn-primary">Add</button>
    <hr>
    <label>Affiliated Institutions</label>
    <p>
        <table class="table">
            {{#each model.affiliatedInstitutions as |inst|}}
                <tr>
                    {{inst.name}}
                </tr>
            {{/each}}
        </table>
    </p>
    <h2>Files</h2>
    {{link-to 'View Files' 'nodes.detail.files' model class='btn btn-primary'}}
</div>
