{{eosf-project-nav node=model user=user}}

{{#if model.parent}}
    {{#link-to 'nodes.detail' model.parent class="btn btn-primary"}}
        ↑ {{model.parent.title}}
    {{/link-to}}
{{/if}}
{{link-to 'Back to list' 'nodes' class="btn btn-default"}}
<div class="panel">
    <h2>Data</h2>
    <p><label>Title:</label> {{model.title}}</p>
    <p><label>Description: </label> {{model.description}}</p>
    <p><label>Category:</label> {{model.category}}</p>
    <p><label>Date Created:</label> {{moment-format model.dateCreated}}</p>
    <p><label>Date Modified:</label> {{moment-format model.dateModified}}</p>
    <p><label>Public: </label> {{model.public}} </p>
    <p><label>Fork: </label> {{model.fork}} </p>
    {{#if model.fork}}
        <p><label>Forked From: </label> {{link-to model.forkedFrom.title 'nodes.detail' model.forkedFrom}}</p>
        <p><label>Forked on:</label> {{moment-format model.forkedDate}}</p>
    {{/if}}
    <p><label> Tags </label></p>
    {{tags-widget addATag=(action 'addATag' model) removeATag=(action 'removeATag' model) tags=model.tags}}
    <p><label>Preprints</label></p>
    <ul>
        {{#each model.preprints as |prep|}}
            <li><a href='{{host}}{{prep.id}}/'>{{prep.node.title}} (Preprint)</a></li>
            {{doi-minter model=prep}}
        {{/each}}
    </ul>
    <hr>

    <p><label> License </label></p>
    {{#if licenseToggle}}
        {{license-picker showCategories=true toggleText=false currentValues=serializedLicense editLicense=(action 'editLicense') allowDismiss=true dismiss=(action 'toggleLicense')}}
    {{else}}
        <a href='#' {{action 'toggleLicense'}}>Edit License</a>
    {{/if}}
    <hr>
    <p>
        <a href="{{model.links.html}}" target="_blank" class="btn btn-primary">
            View on OSF
        </a>
    </p>

    <p><button class="btn btn-danger" {{action 'deleteNode'}}>Delete this project</button></p>
    <hr>
    {{#if propertiesVisible}}
        <button {{action 'toggleEditNode'}}> Close Node Settings </button>
        <table>
            <tr>
                <td><label> Title: </label></td>
                <td>{{input value=editedTitle}}</td>
            </tr>
            <tr>
                <td><label> Description: </label></td>
                <td>{{input value=editedDescription}} </td>
            </tr>
        </table>
        <p><label> Category: </label></p>
        <div>
            <p>{{radio-button name="category" value="analysis" checked=editedCategory}} Analysis </p>
            <p>{{radio-button name="category" value="communication" checked=editedCategory}} Communication </p>
            <p>{{radio-button name="category" value="data" checked=editedCategory}} Data </p>
            <p>{{radio-button name="category" value="hypothesis" checked=editedCategory}} Hypothesis </p>
            <p>{{radio-button name="category" value="instrumentation" checked=editedCategory}} Instrumentation </p>
            <p>{{radio-button name="category" value="methods and measures" checked=editedCategory}} Methods and Measures </p>
            <p>{{radio-button name="category" value="procedure" checked=editedCategory}} Procedure </p>
            <p>{{radio-button name="category" value="project" checked=editedCategory}} Project </p>
            <p>{{radio-button name="category" value="software" checked=editedCategory}} Software</p>
            <p>{{radio-button name="category" value="other" checked=editedCategory}} Other </p>
            <p>{{radio-button name="category" value="uncategorized" checked=editedCategory}} Uncategorized </p>
        </div>
        <p><label> Privacy settings </label></p>
        {{radio-button name="isPublic" value=1 checked=isPublic}} Public
        {{radio-button name="isPublic" value=0 checked=isPublic}} Private

        <button disabled={{isSaving}} {{action 'updateNode' editedTitle editedDescription editedCategory isPublic}} class="btn btn-primary"> Save changes </button>
    {{else}}
        <button {{action 'toggleEditNode'}}> Edit node settings </button>
    {{/if}}
    <hr>
    <h2>Registrations</h2>
    {{link-to 'View Registrations' 'nodes.detail.registrations' model class='btn btn-primary'}}
    <hr>
    <h2>Affiliated Institutions</h2>
    <p>
        <table class="table">
            {{#each model.affiliatedInstitutions as |inst|}}
                <tr>
                    <td>
                        {{inst.name}}
                    </td>
                    <td>
                        <button {{action 'unaffiliateNode' inst}}>Unaffiliate</button>
                    </td>
                </tr>
            {{/each}}
        </table>
        <h4>Add Institution</h4> Institution Id {{input value=instId}}
        <button {{action 'affiliateNode' instId}} class="btn btn-primary">Affiliate Node</button>
    </p>
    <h2>Files</h2>
    {{link-to 'View Files' 'nodes.detail.files' model class='btn btn-primary'}}
    <hr>

    {{log-detail node-logs=model.logs}}

    <h2>Contributors</h2> {{contrib-manager contributors=model.contributors addContributor=(action 'addContributor') removeContributor=(action 'removeContributor') editContributors=(action 'updateContributors') }}


    <hr>
    <h2>Components</h2>
    <ul>
        {{#each model.children as |child|}}
            <li>{{link-to child.title 'nodes.detail' child}}</li>
        {{/each}}
    </ul>
    <h3> Create component </h3>
    <div>
        <label>Title:</label> {{input type="text" value=title placeholder="Component's title" required=true}}
        <label>Description (optional):</label> {{input type="text" value=description placeholder="Component's description"}}
        <p><label>Category (optional):</label></p>
        <p>{{radio-button name="category" value="analysis" checked=category}} Analysis </p>
        <p>{{radio-button name="category" value="communication" checked=category}} Communication </p>
        <p>{{radio-button name="category" value="data" checked=category}} Data </p>
        <p>{{radio-button name="category" value="hypothesis" checked=category}} Hypothesis </p>
        <p>{{radio-button name="category" value="instrumentation" checked=category}} Instrumentation </p>
        <p>{{radio-button name="category" value="methods and measures" checked=category}} Methods and Measures </p>
        <p>{{radio-button name="category" value="procedure" checked=category}} Procedure </p>
        <p>{{radio-button name="category" value="project" checked=category}} Project </p>
        <p>{{radio-button name="category" value="software" checked=category}} Software </p>
        <p>{{radio-button name="category" value="other" checked=category}} Other </p>
        <p>{{radio-button name="category" value="uncategorized" checked=category}} Uncategorized </p>
        <p><button {{action "addChild" title description category }}>Create</button></p>
    </div>
    <hr>

    <h2>Linked Nodes (formerly node links.  After API v2.1, node links have been deprecated). </h2>
    <table class="table">
        {{#if model.linkedNodes}}
            <tr>
                <th> Id </th>
                <th> Name </th>
                <th> </th>
            </tr>
            {{#each model.linkedNodes as |node|}}
                <tr>
                    <td> {{node.id}} </td>
                    <td> {{link-to node.title 'nodes.detail' node.id}} </td>
                    <td> <button {{action "removeNodeLink" node}} class="btn btn-danger"> Remove </button> </td>
                </tr>
            {{/each}}
        {{/if}}
    </table>
    <hr>
    <h3>Add linked node relationship</h3>
    <label> Target node id </label> {{input value=targetNodeId}}
    <button {{action "addNodeLink" targetNodeId}} class="btn btn-primary">Add</button>

    <hr>
    <h2> Forks </h2>
    <ul>
        {{#each model.forks as |forke|}}
            <li>{{link-to forke.title 'nodes.detail' forke}}</li>
        {{/each}}
    </ul>
    <hr>
    <h2>{{link-to 'Wikis' 'nodes.detail.wikis' model}}</h2>
    <hr>

    {{comment-pane
    comments=comments
    addComment=(action 'addComment')
    editComment=(action 'editComment')
    deleteComment=(action 'deleteComment')
    restoreComment=(action 'restoreComment')
    reportComment=(action 'reportComment')}}

    <br>
    <label> Citation </label>
    <br>
    {{citation-widget node=model}}

</div>

{{outlet}}
