{{outlet}}

<h2> Registrations </h2>

{{link-to 'View Drafts' 'nodes.detail.draft_registrations' model.node class='btn btn-primary'}}
{{link-to 'Back to node' 'nodes.detail' model.node class='btn btn-primary'}}
<hr>

{{#each model.registrations as |registration|}}
    <p> {{registration.id}} </p>
    <p>
        {{#if registration.pendingRegistrationApproval}}
            <strong> Pending Registration </strong>
        {{/if}}
        {{#if registration.pendingEmbargoApproval}}
            <strong> Pending Embargo </strong>
        {{/if}}
        {{#if registration.pendingWithdrawal}}
            <strong> Pending Withdrawal </strong>
        {{/if}}
        {{#if registration.withdrawn}}
            <strong> Withdrawn </strong>
        {{/if}}
        {{#link-to "registrations.detail" registration.id}}
            {{registration.title}}
        {{/link-to}} | Registered: {{moment-format registration.dateRegistered}}
    </p>
    <p>
        {{#each registration.contributors as |contrib|}}
            <span>
                {{#if contrib.users.familyName}}
                    {{#link-to "users.detail" contrib.users.id}}
                        {{contrib.users.familyName}},
                    {{/link-to}}
                {{else}}
                    {{#link-to "users.detail" contrib.users.id}}
                        {{contrib.users.fullName}},
                    {{/link-to}}
                {{/if}}
            </span>
        {{/each}}
    </p>
    <a href="{{registration.links.html}}" target="_blank" class="btn btn-default">
        View on OSF
    </a>
    <hr>
{{/each}}
