{{outlet}}
{{title "Registrations"}}
{{link-to 'Back to node' 'nodes.detail' class='btn btn-default'}}

<h2> {{t 'nodes.detail.registrations.registrationsTitle'}} </h2>

{{link-to 'View Drafts' 'nodes.detail.draft_registrations' class='btn btn-primary'}}

<hr>

{{#if model}}
    {{#each model as |registration|}}
        <p>
            {{#if registration.pendingRegistrationApproval}}
                <strong> {{t 'nodes.detail.registrations.pendingRegistration'}} </strong>
            {{/if}}
            {{#if registration.pendingEmbargoApproval}}
                <strong> {{t 'nodes.detail.registrations.pendingEmbargo'}} </strong>
            {{/if}}
            {{#if registration.pendingWithdrawal}}
                <strong> {{t 'nodes.detail.registrations.pendingWithdrawal'}} </strong>
            {{/if}}
            {{#if registration.withdrawn}}
                <strong> {{t 'nodes.detail.registrations.withdrawn'}} </strong>
            {{/if}}
            {{#link-to "registrations.detail" registration.id}}
                {{registration.title}}
            {{/link-to}} | {{t 'nodes.detail.registrations.registered'}}: {{moment-format registration.dateRegistered}}
        </p>
        <p>
            {{#each registration.contributors as |contrib|}}
                <span>
                    {{#if contrib.users.familyName}}
                        {{#link-to "users.detail" contrib.users.id}}
                            {{contrib.users.familyName}},
                        {{/link-to}}
                    {{else}}
                        {{#link-to "users.detail" contrib.users.id}}
                            {{contrib.users.fullName}},
                        {{/link-to}}
                    {{/if}}
                </span>
            {{/each}}
        </p>
        <a href="{{registration.links.html}}" target="_blank" rel="noopener" class="btn btn-default">
            {{t 'nodes.detail.registrations.viewOnOSF'}}
        </a>
        <hr>
    {{/each}}
{{else}}
    <p>{{t 'nodes.detail.registrations.noCompletedRegistrations'}}</p>
{{/if}}
